<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.safeone.dashboard.dao.operationconfigurationsetting.EmergencyContactMapper">
    <sql id="rowSearch">
        <if test="district_nm != null and district_nm != ''">
            and tdi.district_nm ilike '%' || #{district_nm} || '%'
        </if>
        <if test="partner_comp_nm != null and partner_comp_nm != ''">
            and tmi.partner_comp_nm ilike '%' || #{partner_comp_nm} || '%'
        </if>
        <if test="emerg_chgr_nm != null and emerg_chgr_nm != ''">
            and tec.emerg_chgr_nm ilike '%' || #{emerg_chgr_nm} || '%'
        </if>
        <if test="emerg_chgr_role != null and emerg_chgr_role != ''">
            and tec.emerg_chgr_role ilike '%' || #{emerg_chgr_role} || '%'
        </if>
        <if test="emerg_recv_ph != null and emerg_recv_ph != ''">
            and tec.emerg_recv_ph ilike '%' || #{emerg_recv_ph} || '%'
        </if>
        <if test="emerg_tel != null and emerg_tel != ''">
            and tec.emerg_tel ilike '%' || #{emerg_tel} || '%'
        </if>
        <if test="e_mail != null and e_mail != ''">
            and tec.e_mail ilike '%' || #{e_mail} || '%'
        </if>
    </sql>

    <sql id="rowOrder">
        <trim prefix="order by">
            <choose>
                <when test="'district_nm' == sidx and sidx != ''">
                    tdi.district_nm ${sord}
                </when>
                <when test="'partner_comp_nm' == sidx and sidx != ''">
                    tmi.partner_comp_nm ${sord}
                </when>
                <when test="'emerg_chgr_nm' == sidx and sidx != ''">
                    tec.emerg_chgr_nm ${sord}
                </when>
                <when test="'emerg_chgr_role' == sidx and sidx != ''">
                    tec.emerg_chgr_role ${sord}
                </when>
                <when test="'emerg_recv_ph' == sidx and sidx != ''">
                    tec.emerg_recv_ph ${sord}
                </when>
                <when test="'emerg_tel' == sidx and sidx != ''">
                    tec.emerg_tel ${sord}
                </when>
                <when test="'e_mail' == sidx and sidx != ''">
                    tec.e_mail ${sord}
                </when>
                <otherwise>
                    tec.reg_dt desc
                </otherwise>
            </choose>
        </trim>
    </sql>

    <select id="selectEmergencyContactList" parameterType="java.util.Map"
            resultType="com.safeone.dashboard.dto.operationconfigurationsetting.EmergencyContactDto">
        SELECT tec.mgnt_no
        , tec.district_no
        , tdi.district_nm
        , tec.emerg_chgr_nm
        , tec.emerg_chgr_role
        , tec.emerg_recv_ph
        , tec.emerg_tel
        , tec.e_mail
        , tec.reg_dt
        , tec.mod_dt
        , tmi.partner_comp_id
        , tmi.partner_comp_nm
        FROM tb_emerg_contact tec
        LEFT JOIN tb_district_info tdi ON tec.district_no = tdi.district_no
        left join tb_maintcomp_info tmi on tec.partner_comp_id = tmi.partner_comp_id
        WHERE 1=1
        <include refid="rowSearch"/>
        <include refid="rowOrder"/>
        <if test="page != null and page > 0">
            limit #{rows}::int offset (#{page}::int - 1) * #{rows}::int
        </if>
    </select>

    <select id="selectEmergencyContactListTotal" parameterType="java.util.Map" resultType="int">
        SELECT count(tec.mgnt_no)
        FROM tb_emerg_contact tec
        LEFT JOIN tb_district_info tdi ON tec.district_no = tdi.district_no
        left join tb_maintcomp_info tmi on tec.partner_comp_id = tmi.partner_comp_id
        WHERE 1=1
        <include refid="rowSearch"/>
    </select>

    <insert id="insertEmergencyContact" parameterType="java.util.Map">
        INSERT INTO tb_emerg_contact (mgnt_no, district_no, partner_comp_id, emerg_chgr_nm, emerg_chgr_role,
                                      emerg_recv_ph,
                                      emerg_tel, e_mail, reg_dt, mod_dt)
        VALUES ( (SELECT COALESCE(MAX(mgnt_no), 0) + 1 FROM tb_emerg_contact)
               , #{district_no}
               , #{partner_comp_id}
               , #{emerg_chgr_nm}
               , #{emerg_chgr_role}
               , #{emerg_recv_ph}
               , #{emerg_tel}
               , #{e_mail}
               , now()
               , now())
    </insert>

    <update id="updateEmergencyContact" parameterType="java.util.Map">
        UPDATE tb_emerg_contact
        SET district_no     = #{district_no}
          , partner_comp_id = #{partner_comp_id}
          , emerg_chgr_nm   = #{emerg_chgr_nm}
          , emerg_chgr_role = #{emerg_chgr_role}
          , emerg_recv_ph   = #{emerg_recv_ph}
          , emerg_tel       = #{emerg_tel}
          , e_mail          = #{e_mail}
          , mod_dt          = now()
        WHERE mgnt_no = #{mgnt_no}
    </update>

    <delete id="deleteEmergencyContact" parameterType="java.util.Map">
        DELETE
        FROM tb_emerg_contact
        WHERE mgnt_no = #{mgnt_no}
    </delete>
</mapper>