<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.safeone.dashboard.dao.operationconfigurationsetting.SmsManagementMapper">
    <sql id="rowSearch">
        <if test="searchKeyword != null and searchKeyword != ''">
            and (tsr.sms_recv_dept ilike '%' || #{searchKeyword} || '%' or tsr.sms_chgr_nm ilike '%' ||
            #{searchKeyword} || '%' or tsr.sms_recv_ph ilike '%' || #{searchKeyword} || '%')
        </if>
    </sql>

    <sql id="rowOrder">
        <trim prefix="order by">
            <choose>
                <when test="'sms_recv_dept' == sidx and sidx != ''">
                    tsr.sms_recv_dept ${sord}
                </when>
                <when test="'sms_chgr_nm' == sidx and sidx != ''">
                    tsr.sms_chgr_nm ${sord}
                </when>
                <when test="'sms_recv_ph' == sidx and sidx != ''">
                    tsr.sms_recv_ph ${sord}
                </when>
                <when test="'alarm_lvl_nm' == sidx and sidx != ''">
                    tsr.alarm_lvl_nm ${sord}
                </when>
                <when test="'sms_autosnd_yn' == sidx and sidx != ''">
                    tsr.sms_autosnd_yn ${sord}
                </when>
                <otherwise>
                    tsr.reg_dt desc
                </otherwise>
            </choose>
        </trim>
    </sql>

    <select id="selectSmsManagementList" parameterType="java.util.Map"
            resultType="com.safeone.dashboard.dto.operationconfigurationsetting.SmsManagementDto">
        SELECT tsr.mgnt_no
        , tsr.district_no
        , tdi.district_nm
        , tsr.sms_recv_dept
        , tsr.sms_chgr_nm
        , tsr.sms_recv_ph
        , tsr.alarm_lvl_nm
        , tsr.sms_autosnd_yn
        , tsr.reg_dt
        , tsr.mod_dt
        , tmi.partner_comp_id
        , tmi.partner_comp_nm
        FROM tb_sms_receiver tsr
        LEFT OUTER JOIN tb_district_info tdi ON tsr.district_no = tdi.district_no
        left join tb_maintcomp_info tmi on tsr.partner_comp_id = tmi.partner_comp_id
        WHERE 1=1
        <include refid="rowSearch"/>
        <include refid="rowOrder"/>
        <if test="page != null and page > 0">
            limit #{rows}::int offset (#{page}::int - 1) * #{rows}::int
        </if>
    </select>

    <select id="selectSmsManagementListTotal" parameterType="java.util.Map" resultType="int">
        SELECT count(tsr.mgnt_no)
        FROM tb_sms_receiver tsr
        LEFT OUTER JOIN tb_district_info tdi ON tsr.district_no = tdi.district_no
        WHERE 1 = 1
        <include refid="rowSearch"/>
    </select>

    <insert id="insertSmsManagement" parameterType="java.util.Map">
        INSERT INTO tb_sms_receiver ( mgnt_no
                                    , district_no
                                    , sms_recv_dept
                                    , sms_chgr_nm
                                    , sms_recv_ph
                                    , alarm_lvl_nm
                                    , sms_autosnd_yn
                                    , reg_dt
                                    , mod_dt
                                    , partner_comp_id)
        VALUES ( (SELECT COALESCE(MAX(mgnt_no), 0) + 1 FROM tb_sms_receiver)
               , #{district_no}
               , #{sms_recv_dept}
               , #{sms_chgr_nm}
               , #{sms_recv_ph}
               , #{alarm_lvl_nm}
               , #{sms_autosnd_yn}
               , now()
               , now()
               , #{partner_comp_id})
    </insert>

    <update id="updateSmsManagement" parameterType="java.util.Map">
        UPDATE tb_sms_receiver
        SET alarm_lvl_nm   = #{alarm_lvl_nm}
          , sms_autosnd_yn = #{sms_autosnd_yn}
          , mod_dt         = now()
        WHERE mgnt_no = #{mgnt_no}
    </update>

    <delete id="deleteSmsManagement" parameterType="java.util.Map">
        DELETE
        FROM tb_maintenance
        WHERE maintenance_id = #{maintenance_id}
    </delete>
</mapper>