<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.safeone.dashboard.dao.operationconfigurationsetting.SmsManagementMapper">
    <sql id="rowSearch">
        <!--        <if test="maint_accpt_ymd_start != null and maint_accpt_ymd_start != '' and maint_accpt_ymd_end != null and maint_accpt_ymd_end != ''">-->
        <!--            and tmd.maint_accpt_ymd between #{maint_accpt_ymd_start} and #{maint_accpt_ymd_end}-->
        <!--        </if>-->
        <!--        <if test="maint_str_ymd_start != null and maint_str_ymd_start != '' and maint_str_ymd_end != null and maint_str_ymd_end != ''">-->
        <!--            and tmd.maint_str_ymd between #{maint_str_ymd_start} and #{maint_str_ymd_end}-->
        <!--        </if>-->
        <!--        <if test="maint_end_ymd_start != null and maint_end_ymd_start != '' and maint_end_ymd_end != null and maint_end_ymd_end != ''">-->
        <!--            and tmd.maint_end_ymd between #{maint_end_ymd_start} and #{maint_end_ymd_end}-->
        <!--        </if>-->
        <!--        <if test="district_nm != null and district_nm != ''">-->
        <!--            and tdi.district_nm ilike '%' || #{district_nm} || '%'-->
        <!--        </if>-->
        <!--        <if test="sens_nm != null and sens_nm != ''">-->
        <!--            and tsi.sens_nm ilike '%' || #{sens_nm} || '%'-->
        <!--        </if>-->
        <!--        <if test="code_nm != null and code_nm != ''">-->
        <!--            and tcc.code_nm ilike '%' || #{code_nm} || '%'-->
        <!--        </if>-->
        <!--        <if test="maint_dtls != null and maint_dtls != ''">-->
        <!--            and tmd.maint_dtls ilike '%' || #{maint_dtls} || '%'-->
        <!--        </if>-->
        <!--        <if test="maint_comp_nm != null and maint_comp_nm != ''">-->
        <!--            and tmd.maint_comp_nm ilike '%' || #{maint_comp_nm} || '%'-->
        <!--        </if>-->
        <!--        <if test="maint_chgr_nm != null and maint_chgr_nm != ''">-->
        <!--            and tmd.maint_chgr_nm ilike '%' || #{maint_chgr_nm} || '%'-->
        <!--        </if>-->
        <!--        <if test="maint_chgr_ph != null and maint_chgr_ph != ''">-->
        <!--            and tmd.maint_chgr_ph ilike '%' || #{maint_chgr_ph} || '%'-->
        <!--        </if>-->
        <!--        <if test="reg_dt_start != null and reg_dt_start != '' and reg_dt_end != null and reg_dt_end != ''">-->
        <!--            and tmd.reg_dt::timestamp between concat(#{reg_dt_start},' 00:00:00')::timestamp and-->
        <!--            concat(#{reg_dt_end},' 23:59:59')::timestamp-->
        <!--        </if>-->
    </sql>

    <sql id="rowOrder">
        <trim prefix="order by">
            <choose>
                <when test="'sms_recv_dept' == sidx and sidx != ''">
                    tsr.sms_recv_dept ${sord}
                </when>
                <when test="'sms_chgr_nm' == sidx and sidx != ''">
                    tsr.sms_chgr_nm ${sord}
                </when>
                <when test="'sms_recv_ph' == sidx and sidx != ''">
                    tsr.sms_recv_ph ${sord}
                </when>
                <when test="'alarm_lvl_nm' == sidx and sidx != ''">
                    tsr.alarm_lvl_nm ${sord}
                </when>
                <when test="'sms_autosnd_yn' == sidx and sidx != ''">
                    tsr.sms_autosnd_yn ${sord}
                </when>
                <otherwise>
                    tsr.reg_dt desc
                </otherwise>
            </choose>
        </trim>
    </sql>

    <select id="selectSmsManagementList" parameterType="java.util.Map"
            resultType="com.safeone.dashboard.dto.operationconfigurationsetting.SmsManagementDto">
        SELECT tsr.mgnt_no
        , tsr.district_no
        , tdi.district_nm
        , tsr.sms_recv_dept
        , tsr.sms_chgr_nm
        , tsr.sms_recv_ph
        , tsr.alarm_lvl_nm
        , tsr.sms_autosnd_yn
        , tsr.reg_dt
        , tsr.mod_dt
        FROM tb_sms_receiver tsr
        LEFT OUTER JOIN tb_district_info tdi ON tsr.district_no = tdi.district_no
        WHERE 1=1
        <include refid="rowSearch"/>
        <include refid="rowOrder"/>
        <if test="page != null and page > 0">
            limit #{rows}::int offset (#{page}::int - 1) * #{rows}::int
        </if>
    </select>

    <select id="selectSmsManagementListTotal" parameterType="java.util.Map" resultType="int">
        SELECT count(tsr.mgnt_no)
        FROM tb_sms_receiver tsr
        LEFT OUTER JOIN tb_district_info tdi ON tsr.district_no = tdi.district_no
        WHERE 1 = 1
        <include refid="rowSearch"/>
    </select>

    <insert id="insertSmsManagement" parameterType="java.util.Map">
        INSERT INTO tb_maintenance ( maintenance_id
                                   , manager_name
                                   , manager_tel
                                   , description
                                   , reg_date
                                   , mt_date
                                   , asset_id
                                   , area_id
                                   , type
                                   , file1)
        SELECT COALESCE(max(maintenance_id::integer), 0) + 1 as maintenance_id
             , #{manager_name}
             , #{manager_tel}
             , #{description}
             , now()
             , #{mt_date}::timestamp
									          , #{asset_id_hid}
             , (select area_id from tb_zone where zone_id = #{zone_id_hid})
             , #{type_hid}
             , #{file1}
        FROM tb_maintenance
    </insert>

    <update id="updateSmsManagement" parameterType="java.util.Map">
        update tb_maintenance set
        reg_date = now()
        <if test="manager_name != null">
            , manager_name = #{manager_name}
        </if>
        <if test="manager_tel != null">
            , manager_tel = #{manager_tel}
        </if>
        <if test="description != null">
            , description = #{description}
        </if>
        <if test="mt_date != null">
            , mt_date = #{mt_date}::timestamp
        </if>
        <if test="asset_id_hid != null and asset_id_hid != ''">
            , asset_id = #{asset_id_hid}
        </if>
        <if test="zone_id_hid != null and zone_id_hid != ''">
            , area_id = (select area_id from tb_zone where zone_id = #{zone_id_hid})
        </if>
        <if test="type_hid != null and type_hid != ''">
            , type = #{type_hid}
        </if>
        <if test="file1 != null">
            , file1 = #{file1}
        </if>
        where maintenance_id = #{maintenance_id}
    </update>

    <delete id="deleteSmsManagement" parameterType="java.util.Map">
        DELETE
        FROM tb_maintenance
        WHERE maintenance_id = #{maintenance_id}
    </delete>
</mapper>