<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.safeone.dashboard.dao.operationconfigurationsetting.UserManagementMapper">
    <sql id="rowSearch">
        <if test="searchKeyword != null and searchKeyword != ''">
            and (tui.usr_nm ilike '%' || #{searchKeyword} || '%' or tui.usr_flag ilike '%' || #{searchKeyword} || '%' or
            tui.usr_ph ilike
            '%' || #{searchKeyword} || '%' or tui.usr_org ilike '%' || #{searchKeyword} || '%')
        </if>
    </sql>

    <sql id="rowOrder">
        <trim prefix="order by">
            <choose>
                <when test="'usr_id' == sidx and sidx != ''">
                    tui.usr_id ${sord}
                </when>
                <when test="'usr_nm' == sidx and sidx != ''">
                    tui.usr_nm ${sord}
                </when>
                <when test="'use_yn' == sidx and sidx != ''">
                    tui.use_yn ${sord}
                </when>
                <when test="'usr_ph' == sidx and sidx != ''">
                    tui.usr_ph ${sord}
                </when>
                <when test="'e_mail' == sidx and sidx != ''">
                    tui.e_mail ${sord}
                </when>
                <when test="'usr_org' == sidx and sidx != ''">
                    tui.usr_org ${sord}
                </when>
                <when test="'usr_flag' == sidx and sidx != ''">
                    tui.usr_flag ${sord}
                </when>
                <otherwise>
                    tui.reg_dt desc
                </otherwise>
            </choose>
        </trim>
    </sql>

    <select id="selectUserManagementList" parameterType="java.util.Map"
            resultType="com.safeone.dashboard.dto.operationconfigurationsetting.UserManagementDto">
        SELECT tui.usr_id
        ,tui.usr_pwd
        , tui.usr_nm
        , tui.use_yn
        , tui.usr_ph
        , tui.e_mail
        , tui.usr_flag
        , tui.usr_org
        , tui.usr_exp_ymd
        , tui.reg_dt
        , tui.mod_dt
        FROM tb_user_info tui
        WHERE 1=1
        <include refid="rowSearch"/>
        <include refid="rowOrder"/>
        <if test="page != null and page > 0">
            limit #{rows}::int offset (#{page}::int - 1) * #{rows}::int
        </if>
    </select>

    <select id="selectUserManagementListTotal" parameterType="java.util.Map" resultType="int">
        SELECT count(tui.usr_id)
        FROM tb_user_info tui
        WHERE 1 = 1
        <include refid="rowSearch"/>
    </select>

    <select id="selectByUserId" parameterType="java.util.Map" resultType="int">
        SELECT count(tui.usr_id)
        FROM tb_user_info tui
        WHERE tui.usr_id = #{usr_id}
    </select>

    <insert id="insertUserManagement" parameterType="java.util.Map">
        INSERT INTO tb_user_info (usr_id, usr_pwd, usr_pwd_confm, usr_nm, usr_ph, e_mail, usr_org, usr_flag,
                                  usr_exp_ymd,
                                  reg_dt,
                                  mod_dt)
        VALUES (#{usr_id}, #{usr_pwd}, #{usr_pwd}, #{usr_nm}, #{usr_ph}, #{e_mail}, #{usr_org}, #{usr_flag},
                #{usr_exp_ymd}, now(),
                now())
    </insert>

    <update id="updateUserManagement" parameterType="java.util.Map">
        UPDATE tb_user_info SET
        <if test="usr_pwd != null and usr_pwd != ''">
            usr_pwd = #{usr_pwd},
            usr_pwd_confm = #{usr_pwd},
        </if>
        usr_nm = #{usr_nm},
        usr_ph = #{usr_ph},
        e_mail = #{e_mail},
        usr_org = #{usr_org},
        usr_flag = #{usr_flag},
        usr_exp_ymd = #{usr_exp_ymd},
        mod_dt = now()
        WHERE usr_id = #{usr_id}
    </update>

    <delete id="deleteUserManagement" parameterType="java.util.Map">
        DELETE
        FROM tb_user_info
        WHERE usr_id = #{usr_id}
    </delete>
</mapper>