<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.safeone.dashboard.dao.displayconnection.DisplaySendManagementMapper">
    <sql id="rowSearch">
        <if test="dispbd_imgfile_nm != null and dispbd_imgfile_nm != ''">
            and COALESCE(tbi.dispbd_imgfile_nm, tdm.dispbd_imgfile_nm) ilike '%' || #{dispbd_imgfile_nm} || '%'
        </if>
        <if test="use_yn != null and use_yn != ''">
            and COALESCE(tbi.use_yn, tdi.use_yn) = #{use_yn}
        </if>
    </sql>

    <sql id="rowOrder">
        <trim prefix="order by">
            <choose>
                <!--                <when test="'send_group_id' == sidx and sidx != ''">-->
                <!--                    MG.send_group_id ${sord}-->
                <!--                </when>-->
                <!--                <when test="'send_group_name' == sidx and sidx != ''">-->
                <!--                    MG.send_group_name ${sord}-->
                <!--                </when>-->
                <!--                <when test="'description' == sidx and sidx != ''">-->
                <!--                    MG.description ${sord}-->
                <!--                </when>-->
                <!--                <when test="'use_yn' == sidx and sidx != ''">-->
                <!--                    MG.use_yn ${sord}-->
                <!--                </when>-->
                <otherwise>
                    tdm.reg_dt desc
                </otherwise>
            </choose>
        </trim>
    </sql>

    <!--    관리_no	mgnt_no	int	PK-->
    <!--    이미지파일명	dispbd_imgfile_nm	varchar	UK1-->
    <!--    전송그룹명	img_grp_nm	varchar	UK1-->
    <!--    이벤트구분	dispbd_evnt_flag	varchar(1)	UK1-->
    <!--    표시효과_cd	img_effect_cd	varchar(6)-->
    <!--    표시시간	img_disp_min	int-->
    <!--    파일경로	img_file_path	varchar-->
    <!--    자동전송여부	dispbd_autosnd_yn	varchar(1)-->
    <!--    사용여부	use_yn	varchar(1)-->
    <!--    등록일시	reg_dt	datetime-->
    <!--    수정일시	mod_dt	datetime-->

    <select id="selectDisplaySendManagementList" parameterType="java.util.Map"
            resultType="com.safeone.dashboard.dto.displayconnection.DisplaySendManagementDto">
        SELECT tdm.mgnt_no
        , COALESCE(tbi.dispbd_imgfile_nm, tdm.dispbd_imgfile_nm) as dispbd_imgfile_nm
        , COALESCE(tbi.img_file_path, tdi.img_file_path) as img_file_path
        , tdm.dispbd_evnt_flag
        , tdm.img_grp_nm
        , tdm.img_effect_cd
        , tcc.code_nm as img_effect_nm
        , tdm.img_disp_min
        , COALESCE(tbi.use_yn, tdi.use_yn) as use_yn
        , tdi.img_size
        , tdi.img_bg_color
        , tdi.font_size
        , tdi.font_color
        , tdm.reg_dt
        , tdm.mod_dt
        , tdm.mgnt_no as detail
        FROM tb_dispbd_mapping tdm
                 LEFT OUTER JOIN tb_dispbd_image tbi
                                 ON tdm.dispbd_evnt_flag = tbi.dispbd_evnt_flag
                                     AND tdm.img_grp_nm = tbi.img_grp_nm
                                     AND tdm.dispbd_imgfile_nm = tbi.dispbd_imgfile_nm
                 LEFT OUTER JOIN tb_dispbd_image_new tdi
                                 ON tdm.dispbd_imgfile_nm = tdi.dispbd_imgfile_nm
                 LEFT OUTER JOIN tb_common_code tcc
                                 ON tdm.img_effect_cd = tcc.code_id
        WHERE 1=1
          AND tdm.img_grp_nm = #{img_grp_nm}
          AND tdm.dispbd_evnt_flag = #{dispbd_evnt_flag}
        <include refid="rowSearch"/>
        <include refid="rowOrder"/>
        <if test="page != null and page > 0">
            limit #{rows}::int offset (#{page}::int - 1) * #{rows}::int
        </if>
    </select>

    <select id="selectDisplaySendManagementListTotal" parameterType="java.util.Map" resultType="int">
        SELECT count(tdm.mgnt_no)
        FROM tb_dispbd_mapping tdm
                 LEFT OUTER JOIN tb_dispbd_image tbi
                                 ON tdm.dispbd_evnt_flag = tbi.dispbd_evnt_flag
                                     AND tdm.img_grp_nm = tbi.img_grp_nm
                                     AND tdm.dispbd_imgfile_nm = tbi.dispbd_imgfile_nm
                 LEFT OUTER JOIN tb_dispbd_image_new tdi
                                 ON tdm.dispbd_imgfile_nm = tdi.dispbd_imgfile_nm
                 LEFT OUTER JOIN tb_common_code tcc
                                 ON tdm.img_effect_cd = tcc.code_id
        WHERE 1=1
          AND tdm.img_grp_nm = #{img_grp_nm}
          AND tdm.dispbd_evnt_flag = #{dispbd_evnt_flag}
        <include refid="rowSearch"/>
    </select>

    <select id="selectDisplayGroupList" parameterType="java.util.Map"
            resultType="com.safeone.dashboard.dto.displayconnection.DisplayGroupDto">
        SELECT
        MIN(MG.mgnt_no)::text as mgnt_no
        , MG.img_grp_nm
        , COALESCE(MAX(MG.img_grp_comment), '') as img_grp_comment
        , COALESCE(MAX(MG.use_yn), 'Y') as use_yn
        , MIN(MG.reg_dt) as reg_dt
        , MAX(MG.mod_dt) as mod_dt
        FROM tb_dispbd_group_new MG
        WHERE 1=1
        <if test="dispbd_evnt_flag != null and dispbd_evnt_flag != ''">
            AND MG.dispbd_evnt_flag = #{dispbd_evnt_flag}
        </if>
        AND COALESCE(MG.img_grp_nm, '') != ''
        AND MG.img_grp_nm != '기본그룹'
        GROUP BY MG.dispbd_evnt_flag, MG.img_grp_nm
        ORDER BY MG.img_grp_nm
    </select>

    <update id="updateDisplaySendManagement" parameterType="java.util.Map">
        update tb_dispbd_mapping
        <trim prefix="set" suffixOverrides=",">
            <if test="dispbd_evnt_flag != null">
                dispbd_evnt_flag = #{dispbd_evnt_flag},
            </if>
            <if test="img_grp_nm != null">
                img_grp_nm = #{img_grp_nm},
            </if>
            <if test="dispbd_imgfile_nm != null">
                dispbd_imgfile_nm = #{dispbd_imgfile_nm},
            </if>
            <if test="img_effect_cd != null">
                img_effect_cd = #{img_effect_cd},
            </if>
            <if test="img_disp_min != null">
                img_disp_min = #{img_disp_min}::integer,
            </if>
            mod_dt = now(),
        </trim>
        where mgnt_no = #{mgnt_no}::integer
    </update>

    <insert id="insertDisplaySendManagement" parameterType="java.util.Map">
        insert into tb_dispbd_mapping (mgnt_no, dispbd_evnt_flag, img_grp_nm, dispbd_imgfile_nm,
                                       img_effect_cd, img_disp_min, reg_dt, mod_dt)
        values ((SELECT COALESCE(max(mgnt_no::integer), 0) + 1 from tb_dispbd_mapping)
               , #{dispbd_evnt_flag}
               , #{img_grp_nm}
               , #{dispbd_imgfile_nm}
               , #{img_effect_cd}
               , #{img_disp_min}::integer
               , now()
               , now())
    </insert>

    <delete id="deleteDisplaySendManagement" parameterType="java.util.Map">
        DELETE
        FROM tb_dispbd_mapping
        WHERE mgnt_no = #{mgnt_no}::integer
    </delete>

    <update id="updateDisplayImageUseYnNew" parameterType="java.util.Map">
        UPDATE tb_dispbd_image_new
        SET use_yn = #{use_yn},
            mod_dt = now()
        WHERE dispbd_imgfile_nm = #{dispbd_imgfile_nm}
    </update>

    <update id="updateDisplayImageUseYnLegacy" parameterType="java.util.Map">
        UPDATE tb_dispbd_image
        SET use_yn = #{use_yn}
        WHERE dispbd_evnt_flag = #{dispbd_evnt_flag}
          AND img_grp_nm = #{img_grp_nm}
          AND dispbd_imgfile_nm = #{dispbd_imgfile_nm}
    </update>

    <insert id="sendHistory" parameterType="java.util.Map">
        insert into tb_dispbd_details_new (mgnt_no, dispbd_no, dispbd_evnt_flag, img_grp_nm,
                                           sms_trans_dt, dispbd_rslt_yn, reg_dt)
        values ( (SELECT COALESCE(max(mgnt_no::integer), 0) + 1 from tb_dispbd_details_new)
               , #{dispbd_no}
               , #{dispbd_evnt_flag}
               , #{img_grp_nm}
               , now()
               , #{dispbd_rslt_yn}
               , now())
    </insert>

</mapper>
