<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.safeone.dashboard.dao.displayconnection.DisplayImgManagementMapper">
    <sql id="rowSearch">
        <if test="dispbd_evnt_flag != null and dispbd_evnt_flag != ''">
            and MG.dispbd_evnt_flag = #{dispbd_evnt_flag}
        </if>
        <if test="img_grp_nm != null and img_grp_nm != ''">
            and MG.img_grp_nm ilike '%' || #{img_grp_nm} || '%'
        </if>
        <if test="alarm_lvl_cd != null and alarm_lvl_cd != ''">
            and MG.alarm_lvl_cd = #{alarm_lvl_cd}
        </if>
        <if test="use_yn != null and use_yn != ''">
            and MG.use_yn = #{use_yn}
        </if>
        <if test="img_grp_comment != null and img_grp_comment != ''">
            and MG.img_grp_comment ilike '%' || #{img_grp_comment} || '%'
        </if>
    </sql>

    <sql id="rowOrder">
        <trim prefix="order by">
            <choose>
                <when test="'mgnt_no' == sidx and sidx != ''">
                    MG.mgnt_no::integer ${sord}
                </when>
                <when test="'dispbd_evnt_flag' == sidx and sidx != ''">
                    MG.dispbd_evnt_flag ${sord}
                </when>
                <when test="'img_grp_nm' == sidx and sidx != ''">
                    MG.img_grp_nm ${sord}
                </when>
                <when test="'alarm_lvl_cd' == sidx and sidx != ''">
                    MG.alarm_lvl_cd ${sord}
                </when>
                <when test="'use_yn' == sidx and sidx != ''">
                    MG.use_yn ${sord}
                </when>
                <when test="'img_grp_comment' == sidx and sidx != ''">
                    MG.img_grp_comment ${sord}
                </when>
                <otherwise>
                    MG.mgnt_no::integer
                </otherwise>
            </choose>
        </trim>
    </sql>

    <select id="selectDisplayImgManagementList" parameterType="java.util.Map"
            resultType="com.safeone.dashboard.dto.displayconnection.DisplayImgManagementDto">
        SELECT *
        FROM tb_dispbd_group_new MG
        WHERE 1=1
        <include refid="rowSearch"/>
        <include refid="rowOrder"/>
        <if test="page != null and page > 0">
            limit #{rows}::int offset (#{page}::int - 1) * #{rows}::int
        </if>
    </select>

    <select id="selectDisplayImgManagementListTotal" parameterType="java.util.Map" resultType="int">
        SELECT count(*)
        FROM tb_dispbd_group_new MG
        WHERE 1=1
        <include refid="rowSearch"/>
    </select>

    <update id="updateDisplayImgManagement" parameterType="java.util.Map">
        update tb_dispbd_group_new
        set img_grp_nm      = #{img_grp_nm},
            img_grp_comment = #{img_grp_comment},
            dispbd_evnt_flag = #{dispbd_evnt_flag},
            alarm_lvl_cd    = #{alarm_lvl_cd},
            use_yn          = #{use_yn},
            mod_dt          = now()
        where mgnt_no = #{mgnt_no}::integer
    </update>

    <insert id="insertDisplayImgManagement" parameterType="java.util.Map">
        INSERT INTO tb_dispbd_image_new (mgnt_no, dispbd_imgfile_nm, img_file_path, use_yn,
                                     img_size, img_bg_color, font_size, font_color, reg_dt, mod_dt)
        VALUES ((SELECT COALESCE(MAX(mgnt_no), 0) + 1 FROM tb_dispbd_image_new), #{dispbd_imgfile_nm},
                #{img_file_path}, COALESCE(#{use_yn}, 'Y'), COALESCE(#{img_size}, '1920x1080'), COALESCE(#{img_bg_color}, '#000000'),
                COALESCE(#{font_size}, '24'), COALESCE(#{font_color}, '#FFFFFF'), now(), now())
    </insert>

    <insert id="insertDisplayMapping" parameterType="java.util.Map">
        INSERT INTO tb_dispbd_mapping (mgnt_no, dispbd_evnt_flag, img_grp_nm, dispbd_imgfile_nm,
                                       img_effect_cd, img_disp_min, reg_dt, mod_dt)
        VALUES ((SELECT COALESCE(MAX(mgnt_no::integer), 0) + 1 FROM tb_dispbd_mapping),
                #{dispbd_evnt_flag},
                #{img_grp_nm},
                #{dispbd_imgfile_nm},
                #{img_effect_cd},
                #{img_disp_min}::integer,
                now(),
                now())
    </insert>

    <insert id="insertGroup" parameterType="java.util.Map">
        INSERT INTO tb_dispbd_group_new (mgnt_no, img_grp_nm, img_grp_comment, dispbd_evnt_flag, alarm_lvl_cd, use_yn, reg_dt, mod_dt)
        VALUES ((SELECT COALESCE(MAX(mgnt_no::integer), 0) + 1 FROM tb_dispbd_group_new), #{img_grp_nm},
                #{img_grp_comment}, #{dispbd_evnt_flag}, #{alarm_lvl_cd}, #{use_yn}, now(), now())
    </insert>

    <delete id="deleteDisplayImgManagement" parameterType="java.util.Map">
        DELETE
        FROM tb_dispbd_group_new
        WHERE mgnt_no = #{mgnt_no}::integer
    </delete>

</mapper>
