<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.safeone.dashboard.dao.sensorinitialsetting.SensorInitialSettingMapper">
    <sql id="rowSearch">
        <if test="sens_tp_nm != null and sens_tp_nm != ''">
            and tst.sens_tp_nm ilike '%' || #{sens_tp_nm} || '%'
        </if>
        <if test="sens_nm != null and sens_nm != ''">
            and tsinfo.sens_nm ilike '%' || #{sens_nm} || '%'
        </if>
        <if test="sens_chnl_id != null and sens_chnl_id != ''">
            and tsi.sens_chnl_id ilike '%' || #{sens_chnl_id} || '%'
        </if>
        <if test="formul_data != null and formul_data != ''">
            and tsi.formul_data ilike '%' || #{formul_data} || '%'
        </if>
        <if test="init_apply_dt_start != null and init_apply_dt_start != '' and init_apply_dt_end != null and init_apply_dt_end != ''">
            and tsi.init_apply_dt::timestamp between concat(#{init_apply_dt_start},' 00:00:00')::timestamp and
            concat(#{init_apply_dt_end},' 23:59:59')::timestamp
        </if>
        <if test="last_apply_dt_start != null and last_apply_dt_start != '' and last_apply_dt_end != null and last_apply_dt_end != ''">
            and tsi.last_apply_dt::timestamp between concat(#{last_apply_dt_start},' 00:00:00')::timestamp and
            concat(#{last_apply_dt_end},' 23:59:59')::timestamp
        </if>
        <if test="emer_status != null and emer_status != ''">
            and tsi.emer_status ilike '%' || #{emer_status} || '%'
        </if>
    </sql>

    <sql id="rowOrder">
        <trim prefix="order by">
            <choose>
                <when test="'sens_tp_nm' == sidx and sidx != ''">
                    tst.sens_tp_nm ${sord}
                </when>
                <when test="'sens_nm' == sidx and sidx != ''">
                    tsinfo.sens_nm ${sord}
                </when>
                <when test="'sens_chnl_id' == sidx and sidx != ''">
                    tsi.sens_chnl_id ${sord}
                </when>
                <when test="'formul_data' == sidx and sidx != ''">
                    tsi.formul_data ${sord}
                </when>
                <when test="'init_apply_dt' == sidx and sidx != ''">
                    tsi.init_apply_dt ${sord}
                </when>
                <when test="'last_apply_dt' == sidx and sidx != ''">
                    tsi.last_apply_dt ${sord}
                </when>
                <when test="'emer_status' == sidx and sidx != ''">
                    tsi.emer_status ${sord}
                </when>
                <otherwise>
                    tst.senstype_no, tsi.sens_no, tsi.sens_chnl_id asc
                </otherwise>
            </choose>
        </trim>
    </sql>

    <select id="selectSensorInitialSettingList" parameterType="java.util.Map"
            resultType="com.safeone.dashboard.dto.sensorinitialsetting.SensorInitialSettingDto">
        select tsi.formul_data
        , tsi.init_apply_dt
        , tst.sens_tp_nm
        , tsi.last_apply_dt
        , tsi.emer_status
        , tsi.sens_chnl_id
        , tsi.sens_chnl_id as og_sens_chnl_id
        , tsi.sens_no
        , tsinfo.sens_nm
        from tb_sensor_init tsi
        left join tb_sensor_info tsinfo on tsi.sens_no = tsinfo.sens_no
        left join tb_sensor_type tst on tsinfo.senstype_no = tst.senstype_no
        WHERE 1 = 1
        and tsi.sens_no in
        (select tlim.sens_no
        from tb_logr_idx_map tlim
        where logr_no in (select tli.logr_no
        from tb_district_info tdi
        left outer join tb_logger_info tli on tli.district_no = tdi.district_no
        where tdi.district_no = #{district_no}))
        <include refid="rowSearch"/>
        <include refid="rowOrder"/>
        <if test="page != null and page > 0">
            limit #{rows}::int offset (#{page}::int - 1) * #{rows}::int
        </if>
    </select>
    <select id="selectSensorInitialSettingListTotal" parameterType="java.util.Map" resultType="int">
        select count(tsi.sens_no)
        from tb_sensor_init tsi
        left join tb_sensor_info tsinfo on tsi.sens_no = tsinfo.sens_no
        left join tb_sensor_type tst on tsinfo.senstype_no = tst.senstype_no
        WHERE 1 = 1
        and tsi.sens_no in
        (select tlim.sens_no
        from tb_logr_idx_map tlim
        where logr_no in (select tli.logr_no
        from tb_district_info tdi
        left outer join tb_logger_info tli on tli.district_no = tdi.district_no
        where tdi.district_no = #{district_no}))
        <include refid="rowSearch"/>
    </select>

    <update id="updateSensorInitialSetting" parameterType="java.util.Map">
        UPDATE tb_sensor_init
        SET
        <if test="formul_data != null and formul_data != ''">
            formul_data = #{formul_data}::float ,
        </if>
        emer_status = #{emer_status}
        , mod_dt = now()
        WHERE sens_no = #{sens_no}
        and sens_chnl_id = #{og_sens_chnl_id}
    </update>

    <insert id="insertSensorInitialSetting" parameterType="java.util.Map">
        INSERT INTO tb_sensor_init
        (sens_no)
        VALUES
        (#{sens_no})
    </insert>
</mapper>