<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.safeone.dashboard.dao.sensorinitialsetting.SensorInitialSettingMapper">
    <sql id="rowSearch">
        <if test="district_nm != null and district_nm != ''">
            and dist.district_nm = #{district_nm}
        </if>
        <if test="sens_tp_nm != null and sens_tp_nm != ''">
            and tst.sens_tp_nm = #{sens_tp_nm}
        </if>
        <if test="sens_nm != null and sens_nm != ''">
            and tsinfo.sens_nm ilike '%' || #{sens_nm} || '%'
        </if>
        <if test="sens_chnl_id != null and sens_chnl_id != ''">
            and (
                tsi.sens_chnl_id ilike '%' || #{sens_chnl_id} || '%'
                or tsinfo.sens_nm ilike '%' || #{sens_chnl_id} || '%'
                or concat(tsinfo.sens_nm, '-', coalesce(tsi.sens_chnl_id, '')) ilike '%' || #{sens_chnl_id} || '%'
            )
        </if>
        <if test="formul_data != null and formul_data != ''">
            and cast(tsi.formul_data as text) ilike '%' || #{formul_data} || '%'
        </if>
        <if test="real_data != null and real_data != ''">
            and cast(tmd.formul_data as text) ilike '%' || #{real_data} || '%'
        </if>
        <if test="init_apply_dt_start != null and init_apply_dt_start != '' and init_apply_dt_end != null and init_apply_dt_end != ''">
            and tsi.init_apply_dt::timestamp between concat(#{init_apply_dt_start},' 00:00:00')::timestamp and
            concat(#{init_apply_dt_end},' 23:59:59')::timestamp
        </if>
        <if test="last_apply_dt_start != null and last_apply_dt_start != '' and last_apply_dt_end != null and last_apply_dt_end != ''">
            and tsi.last_apply_dt::timestamp between concat(#{last_apply_dt_start},' 00:00:00')::timestamp and
            concat(#{last_apply_dt_end},' 23:59:59')::timestamp
        </if>
        <if test="emer_status != null and emer_status != ''">
            and tsi.emer_status = #{emer_status}
        </if>
        <if test="sens_status != null and sens_status != ''">
            and tcc.code_nm = #{sens_status}
        </if>
    </sql>

    <sql id="rowOrder">
        <trim prefix="order by">
            <choose>
                <when test="'district_nm' == sidx and sidx != ''">
                    dist.district_nm ${sord}
                </when>
                <when test="'sens_tp_nm' == sidx and sidx != ''">
                    tst.sens_tp_nm ${sord}
                </when>
                <when test="'sens_nm' == sidx and sidx != ''">
                    tsinfo.sens_nm ${sord}
                </when>
                <when test="'sens_chnl_id' == sidx and sidx != ''">
                    tsi.sens_chnl_id ${sord}
                </when>
                <when test="'formul_data' == sidx and sidx != ''">
                    tsi.formul_data ${sord}
                </when>
                <when test="'init_apply_dt' == sidx and sidx != ''">
                    tsi.init_apply_dt ${sord}
                </when>
                <when test="'last_apply_dt' == sidx and sidx != ''">
                    tsi.last_apply_dt ${sord}
                </when>
                <when test="'emer_status' == sidx and sidx != ''">
                    tsi.emer_status ${sord}
                </when>
                <when test="'sens_status' == sidx and sidx != ''">
                    tcc.code_nm ${sord}
                </when>
                <otherwise>
                    tst.senstype_no, tsi.sens_no, tsi.sens_chnl_id asc
                </otherwise>
            </choose>
        </trim>
    </sql>

    <select id="selectSensorInitialSettingList" parameterType="java.util.Map"
            resultType="com.safeone.dashboard.dto.sensorinitialsetting.SensorInitialSettingDto">
<!--        select tsi.formul_data-->
<!--        , tsi.init_apply_dt-->
<!--        , tst.sens_tp_nm-->
<!--        , tsi.last_apply_dt-->
<!--        , tsi.emer_status-->
<!--        , tsi.sens_chnl_id-->
<!--        , tsi.sens_chnl_id as og_sens_chnl_id-->
<!--        , tsi.sens_no-->
<!--        , tsinfo.sens_nm-->
<!--        from tb_sensor_init tsi-->
<!--        left join tb_sensor_info tsinfo on tsi.sens_no = tsinfo.sens_no-->
<!--        left join tb_sensor_type tst on tsinfo.senstype_no = tst.senstype_no-->
<!--        WHERE 1 = 1-->
<!--        and tsi.sens_no in-->
<!--        (select tlim.sens_no-->
<!--        from tb_logr_idx_map tlim-->
<!--        where logr_no in (select tli.logr_no-->
<!--        from tb_district_info tdi-->
<!--        left outer join tb_logger_info tli on tli.district_no = tdi.district_no-->
<!--        where tdi.district_no = #{district_no}))-->
<!--        <include refid="rowSearch"/>-->
<!--        <include refid="rowOrder"/>-->
<!--        <if test="page != null and page > 0">-->
<!--            limit #{rows}::int offset (#{page}::int - 1) * #{rows}::int-->
<!--        </if>-->

         SELECT
            TO_CHAR(ROUND(tsi.init_raw_data::numeric, 2), 'FM9999999999999999990.00') AS formul_data,
            tsi.init_apply_dt,
            tst.sens_tp_nm,
            tsi.last_apply_dt,
            tsi.emer_status,
            COALESCE(tsi.sens_chnl_id, '') AS sens_chnl_id,  tsi.sens_chnl_id AS og_sens_chnl_id,
            tsi.sens_no,
            tsinfo.sens_nm,
            TO_CHAR(ROUND(tmd.raw_data::numeric, 2), 'FM9999999999999999990.00') AS real_data,
            dist.district_nm,
            tcc.code_nm AS sens_status
        FROM tb_sensor_init tsi
        LEFT JOIN tb_sensor_info tsinfo ON tsi.sens_no = tsinfo.sens_no
        LEFT JOIN tb_sensor_type tst ON tsinfo.senstype_no = tst.senstype_no
        LEFT JOIN tb_common_code tcc ON tsinfo.maint_sts_cd = tcc.code_id

        LEFT JOIN LATERAL (
            SELECT tdi.district_nm
            FROM tb_logr_idx_map tlim
            INNER JOIN tb_logger_info tli ON tlim.logr_no = tli.logr_no
            INNER JOIN tb_district_info tdi ON tli.district_no = tdi.district_no
            WHERE tlim.sens_no = tsi.sens_no
            LIMIT 1
        ) dist ON TRUE
        LEFT JOIN LATERAL (
            SELECT sens_no, formul_data,raw_data, sens_chnl_id
            FROM tb_measure_details tmd2
            WHERE tmd2.sens_no = tsi.sens_no
            AND tmd2.sens_chnl_id = tsi.sens_chnl_id
            ORDER BY tmd2.meas_dt DESC
            LIMIT 1
        ) tmd ON TRUE

        WHERE 1 = 1
            AND tsi.sens_no IN (
            SELECT tlim.sens_no
            FROM tb_logr_idx_map tlim
            INNER JOIN tb_logger_info tli ON tlim.logr_no = tli.logr_no
            WHERE 1=1
            <if test="district_no != null and district_no != ''">
                AND tli.district_no = #{district_no}
            </if>
        )
        <include refid="rowSearch"/>
        <include refid="rowOrder"/>
        <if test="page != null and page > 0">
            limit #{rows}::int offset (#{page}::int - 1) * #{rows}::int
        </if>
    </select>

    <select id="selectSensorInitialSettingListTotal" parameterType="java.util.Map" resultType="int">
        select count(tsi.sens_no)
        from tb_sensor_init tsi
        left join tb_sensor_info tsinfo on tsi.sens_no = tsinfo.sens_no
        left join tb_sensor_type tst on tsinfo.senstype_no = tst.senstype_no
        left join tb_common_code tcc on tsinfo.maint_sts_cd = tcc.code_id
        left join lateral (
            select tdi.district_nm
            from tb_logr_idx_map tlim
            inner join tb_logger_info tli on tlim.logr_no = tli.logr_no
            inner join tb_district_info tdi on tli.district_no = tdi.district_no
            where tlim.sens_no = tsi.sens_no
            limit 1
        ) dist on true
        left join lateral (
            select sens_no, formul_data, sens_chnl_id
            from tb_measure_details tmd2
            where tmd2.sens_no = tsi.sens_no
            and tmd2.sens_chnl_id = tsi.sens_chnl_id
            order by tmd2.meas_dt desc
            limit 1
        ) tmd on true

        WHERE 1 = 1
        AND tsi.sens_no IN (
            SELECT tlim.sens_no
            FROM tb_logr_idx_map tlim
            INNER JOIN tb_logger_info tli ON tlim.logr_no = tli.logr_no
            WHERE 1=1
            <if test="district_no != null and district_no != ''">
                AND tli.district_no = #{district_no}
            </if>
        )
        <include refid="rowSearch"/>
    </select>

    <update id="updateSensorInitialSetting" parameterType="java.util.Map">
        UPDATE tb_sensor_init
        SET
        <if test="formul_data != null and formul_data != ''">
            init_raw_data = #{formul_data}::float ,
        </if>
        emer_status = #{emer_status}
        , init_apply_dt = now()
        , mod_dt = now()
        WHERE sens_no = #{sens_no}
        and sens_chnl_id = #{og_sens_chnl_id}
    </update>

    <insert id="insertSensorInitialSetting" parameterType="java.util.Map">
        INSERT INTO tb_sensor_init
        (sens_no, sens_chnl_id)
        VALUES
        (#{sens_no}, #{sens_chnl_id})
    </insert>
</mapper>
