<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.safeone.dashboard.dao.maintenance.MaintenanceManageMapper">
    <sql id="rowSearch">
        <if test="reg_day_start != null and reg_day_start != '' and reg_day_end != null and reg_day_end != ''">
            and MG.reg_day between concat(#{reg_day_start},' 00:00:00') and concat(#{reg_day_end},' 23:59:59')
        </if>
        <if test="reg_time != null and reg_time != ''">
            and MG.reg_time ilike '%' || #{reg_time} || '%'
        </if>
        <if test="zone_id != null and zone_id != ''">
            and MG.zone_id = #{zone_id}
        </if>
        <if test="asset_id != null and asset_id != ''">
            and MG.asset_id = #{asset_id}
        </if>
        <if test="type != null and type != ''">
            and MG.type = #{type}
        </if>
        <if test="mt_date_start != null and mt_date_start != '' and mt_date_end != null and mt_date_end != ''">
            and MG.mt_date::timestamp between concat(#{mt_date_start},' 00:00:00')::timestamp and
            concat(#{mt_date_end},' 23:59:59')::timestamp
        </if>
        <if test="manager_name != null and manager_name != ''">
            and MG.manager_name ilike '%' || #{manager_name} || '%'
        </if>
        <if test="manager_tel != null and manager_tel != ''">
            and MG.manager_tel ilike '%' || #{manager_tel} || '%'
        </if>
        <if test="description != null and description != ''">
            and MG.description ilike '%' || #{description} || '%'
        </if>
    </sql>

    <sql id="rowOrder">
        <trim prefix="order by">
            <choose>
                <when test="'reg_day' == sidx and sidx != ''">
                    MG.reg_day ${sord}
                </when>
                <when test="'reg_time' == sidx and sidx != ''">
                    MG.reg_time ${sord}
                </when>
                <when test="'zone_id' == sidx and sidx != ''">
                    MG.zone_id ${sord}
                </when>
                <when test="'asset_id' == sidx and sidx != ''">
                    MG.asset_id ${sord}
                </when>
                <when test="'type' == sidx and sidx != ''">
                    MG.type ${sord}
                </when>
                <when test="'mt_date' == sidx and sidx != ''">
                    MG.mt_date ${sord}
                </when>
                <when test="'manager_name' == sidx and sidx != ''">
                    MG.manager_name ${sord}
                </when>
                <when test="'manager_tel' == sidx and sidx != ''">
                    MG.manager_tel ${sord}
                </when>
                <when test="'description' == sidx and sidx != ''">
                    MG.description ${sord}
                </when>
                <otherwise>
                    MG.reg_date desc
                </otherwise>
            </choose>
        </trim>
    </sql>

    <select id="selectMaintenanceList" parameterType="java.util.Map"
            resultType="com.safeone.dashboard.dto.maintenance.MaintenanceManageDto">
        SELECT MG.*
        FROM (
        SELECT A.maintenance_id
        , A.manager_name
        , A.manager_tel
        , A.description
        , TO_CHAR(A.reg_date::timestamp, 'YYYY-MM-DD') AS reg_day
        , TO_CHAR(A.reg_date::timestamp, 'HH24:MI:SS') AS reg_time
        , A.reg_date
        , asset.zone_id
        , asset.zone_id as zone_id_hid
        , TO_CHAR(A.mt_date, 'YYYY-MM-DD') AS mt_date
        , A.asset_id
        , A.asset_id as asset_id_hid
        , A.area_id
        , A.type
        , A.type as type_hid
        , A.file1
        FROM tb_maintenance A
        JOIN tb_asset asset ON A.asset_id = asset.asset_id
        ) MG
        WHERE 1=1
        <include refid="rowSearch"/>
        <include refid="rowOrder"/>
        <if test="page != null and page > 0">
            limit #{rows}::int offset (#{page}::int - 1) * #{rows}::int
        </if>
    </select>

    <select id="selectMaintenanceListTotal" parameterType="java.util.Map" resultType="int">
        SELECT count(*)
        FROM (
        SELECT A.maintenance_id
        , A.manager_name
        , A.manager_tel
        , A.description
        , TO_CHAR(A.reg_date::timestamp, 'YYYY-MM-DD') AS reg_day
        , TO_CHAR(A.reg_date::timestamp, 'HH24:MI:SS') AS reg_time
        , A.reg_date
        , asset.zone_id
        , asset.zone_id as zone_id_hid
        , TO_CHAR(A.mt_date, 'YYYY-MM-DD') AS mt_date
        , A.asset_id
        , A.asset_id as asset_id_hid
        , A.area_id
        , A.type
        , A.type as type_hid
        , A.file1
        FROM tb_maintenance A
        JOIN tb_asset asset ON A.asset_id = asset.asset_id
        ) MG
        WHERE 1=1
        <include refid="rowSearch"/>
    </select>

    <insert id="insertMaintenance" parameterType="java.util.Map">
        INSERT INTO tb_maintenance ( maintenance_id
                                   , manager_name
                                   , manager_tel
                                   , description
                                   , reg_date
                                   , mt_date
                                   , asset_id
                                   , area_id
                                   , type
                                   , file1)
        SELECT COALESCE(max(maintenance_id::integer), 0) + 1 as maintenance_id
             , #{manager_name}
             , #{manager_tel}
             , #{description}
             , now()
             , #{mt_date}::timestamp
									          , #{asset_id_hid}
             , (select area_id from tb_zone where zone_id = #{zone_id_hid})
             , #{type_hid}
             , #{file1}
        FROM tb_maintenance
    </insert>

    <update id="updateMaintenance" parameterType="java.util.Map">
        update tb_maintenance set
        reg_date = now()
        <if test="manager_name != null">
            , manager_name = #{manager_name}
        </if>
        <if test="manager_tel != null">
            , manager_tel = #{manager_tel}
        </if>
        <if test="description != null">
            , description = #{description}
        </if>
        <if test="mt_date != null">
            , mt_date = #{mt_date}::timestamp
        </if>
        <if test="asset_id_hid != null and asset_id_hid != ''">
            , asset_id = #{asset_id_hid}
        </if>
        <if test="zone_id_hid != null and zone_id_hid != ''">
            , area_id = (select area_id from tb_zone where zone_id = #{zone_id_hid})
        </if>
        <if test="type_hid != null and type_hid != ''">
            , type = #{type_hid}
        </if>
        <if test="file1 != null">
            , file1 = #{file1}
        </if>
        where maintenance_id = #{maintenance_id}
    </update>

    <delete id="deleteMaintenance" parameterType="java.util.Map">
        DELETE
        FROM tb_maintenance
        WHERE maintenance_id = #{maintenance_id}
    </delete>
</mapper>