<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.safeone.dashboard.dao.maintenance.MaintenanceCompanyManagementMapper">
    <sql id="rowSearch">
        <if test="partner_comp_id != null and partner_comp_id != ''">
            and tmi.partner_comp_id ilike '%' || #{partner_comp_id} || '%'
        </if>
        <if test="partner_comp_nm != null and partner_comp_nm != ''">
            and tmi.partner_comp_nm ilike '%' || #{partner_comp_nm} || '%'
        </if>
        <if test="partner_type_flag != null and partner_type_flag != ''">
            and tmi.partner_type_flag ilike '%' || #{partner_type_flag} || '%'
        </if>
        <if test="partner_comp_addr != null and partner_comp_addr != ''">
            and tmi.partner_comp_addr ilike '%' || #{partner_comp_addr} || '%'
        </if>
        <if test="comp_biz_no != null and comp_biz_no != ''">
            and tmi.comp_biz_no ilike '%' || #{comp_biz_no} || '%'
        </if>
        <if test="maint_rep_nm != null and maint_rep_nm != ''">
            and tmi.maint_rep_nm ilike '%' || #{maint_rep_nm} || '%'
        </if>
        <if test="maint_rep_ph != null and maint_rep_ph != ''">
            and tmi.maint_rep_ph ilike '%' || #{maint_rep_ph} || '%'
        </if>
        <if test="reg_dt_start != null and reg_dt_start != '' and reg_dt_end != null and reg_dt_end != ''">
            and tmi.reg_dt::timestamp between concat(#{reg_dt_start},' 00:00:00')::timestamp and concat(#{reg_dt_end},'
            23:59:59')::timestamp
        </if>
        <if test="mod_dt_start != null and mod_dt_start != '' and mod_dt_end != null and mod_dt_end != ''">
            and tmi.mod_dt::timestamp between concat(#{mod_dt_start},' 00:00:00')::timestamp and concat(#{mod_dt_end},'
            23:59:59')::timestamp
        </if>
    </sql>

    <sql id="rowOrder">
        <trim prefix="order by">
            <choose>
                <when test="'partner_comp_id' == sidx and sidx != ''">
                    tmi.partner_comp_id ${sord}
                </when>
                <when test="'partner_comp_nm' == sidx and sidx != ''">
                    tmi.partner_comp_nm ${sord}
                </when>
                <when test="'partner_type_flag' == sidx and sidx != ''">
                    tmi.partner_type_flag ${sord}
                </when>
                <when test="'partner_comp_addr' == sidx and sidx != ''">
                    tmi.partner_comp_addr ${sord}
                </when>
                <when test="'comp_biz_no' == sidx and sidx != ''">
                    tmi.comp_biz_no ${sord}
                </when>
                <when test="'maint_rep_nm' == sidx and sidx != ''">
                    tmi.maint_rep_nm ${sord}
                </when>
                <when test="'maint_rep_ph' == sidx and sidx != ''">
                    tmi.maint_rep_ph ${sord}
                </when>
                <when test="'reg_dt' == sidx and sidx != ''">
                    tmi.reg_dt ${sord}
                </when>
                <when test="'mod_dt' == sidx and sidx != ''">
                    tmi.mod_dt ${sord}
                </when>
                <otherwise>
                    tmi.reg_dt desc
                </otherwise>
            </choose>
        </trim>
    </sql>

    <select id="selectMaintenanceCompanyManagementList" parameterType="java.util.Map"
            resultType="com.safeone.dashboard.dto.maintenance.MaintenanceCompanyManagementDto">
        SELECT tmi.partner_comp_id
        , tmi.partner_comp_nm
        , tmi.partner_type_flag
        , tmi.partner_comp_addr
        , tmi.comp_biz_no
        , tmi.maint_rep_nm
        , tmi.maint_rep_ph
        , tmi.reg_dt
        , tmi.mod_dt
        FROM tb_maintcomp_info tmi
        WHERE 1=1
        <include refid="rowSearch"/>
        <include refid="rowOrder"/>
        <if test="page != null and page > 0">
            limit #{rows}::int offset (#{page}::int - 1) * #{rows}::int
        </if>
    </select>

    <select id="selectMaintenanceCompanyManagementListTotal" parameterType="java.util.Map" resultType="int">
        SELECT count(tmi.partner_comp_id)
        FROM tb_maintcomp_info tmi
        WHERE 1=1
        <include refid="rowSearch"/>
    </select>

    <insert id="insertMaintenanceCompanyManagement" parameterType="java.util.Map">
        INSERT INTO tb_maintcomp_info ( partner_comp_id
                                      , partner_comp_nm
                                      , partner_type_flag
                                      , partner_comp_addr
                                      , comp_biz_no
                                      , maint_rep_nm
                                      , maint_rep_ph
                                      , reg_dt
                                      , mod_dt)
        VALUES ( #{partner_comp_id}
               , #{partner_comp_nm}
               , #{partner_type_flag}
               , #{partner_comp_addr}
               , #{comp_biz_no}
               , #{maint_rep_nm}
               , #{maint_rep_ph}
               , #{reg_dt}::timestamp
               , #{mod_dt}::timestamp)
    </insert>

    <update id="updateMaintenanceCompanyManagement" parameterType="java.util.Map">
        UPDATE tb_maintcomp_info
        SET partner_comp_nm   = #{partner_comp_nm}
          , partner_type_flag = #{partner_type_flag}
          , partner_comp_addr = #{partner_comp_addr}
          , comp_biz_no       = #{comp_biz_no}
          , maint_rep_nm      = #{maint_rep_nm}
          , maint_rep_ph      = #{maint_rep_ph}
          , mod_dt            = #{mod_dt}::timestamp
        WHERE partner_comp_id = #{partner_comp_id}
    </update>

    <delete id="deleteMaintenanceCompanyManagement" parameterType="java.util.Map">
        DELETE
        FROM tb_maintcomp_info
        WHERE partner_comp_id = #{partner_comp_id}
    </delete>
</mapper>