<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.safeone.dashboard.dao.maintenance.MaintenanceDetailsMapper">
    <sql id="rowSearch">
        <if test="maint_accpt_ymd_start != null and maint_accpt_ymd_start != '' and maint_accpt_ymd_end != null and maint_accpt_ymd_end != ''">
            and tmd.maint_accpt_ymd between #{maint_accpt_ymd_start} and #{maint_accpt_ymd_end}
        </if>
        <if test="maint_str_ymd_start != null and maint_str_ymd_start != '' and maint_str_ymd_end != null and maint_str_ymd_end != ''">
            and tmd.maint_str_ymd between #{maint_str_ymd_start} and #{maint_str_ymd_end}
        </if>
        <if test="maint_end_ymd_start != null and maint_end_ymd_start != '' and maint_end_ymd_end != null and maint_end_ymd_end != ''">
            and tmd.maint_end_ymd between #{maint_end_ymd_start} and #{maint_end_ymd_end}
        </if>
        <if test="district_nm != null and district_nm != ''">
            and tdi.district_nm ilike '%' || #{district_nm} || '%'
        </if>
        <if test="sens_nm != null and sens_nm != ''">
            and tsi.sens_nm ilike '%' || #{sens_nm} || '%'
        </if>
        <if test="code_nm != null and code_nm != ''">
            and tcc.code_nm ilike '%' || #{code_nm} || '%'
        </if>
        <if test="maint_dtls != null and maint_dtls != ''">
            and tmd.maint_dtls ilike '%' || #{maint_dtls} || '%'
        </if>
        <if test="maint_comp_nm != null and maint_comp_nm != ''">
            and tmd.maint_comp_nm ilike '%' || #{maint_comp_nm} || '%'
        </if>
        <if test="maint_chgr_nm != null and maint_chgr_nm != ''">
            and tmd.maint_chgr_nm ilike '%' || #{maint_chgr_nm} || '%'
        </if>
        <if test="maint_chgr_ph != null and maint_chgr_ph != ''">
            and tmd.maint_chgr_ph ilike '%' || #{maint_chgr_ph} || '%'
        </if>
        <if test="reg_dt_start != null and reg_dt_start != '' and reg_dt_end != null and reg_dt_end != ''">
            and tmd.reg_dt::timestamp between concat(#{reg_dt_start},' 00:00:00')::timestamp and
            concat(#{reg_dt_end},' 23:59:59')::timestamp
        </if>
        <if test="district_no != null and district_no != ''">
            and tmd.district_no = #{district_no}
        </if>
    </sql>

    <sql id="rowOrder">
        <trim prefix="order by">
            <choose>
                <when test="'maint_accpt_ymd' == sidx and sidx != ''">
                    tmd.maint_accpt_ymd ${sord}
                </when>
                <when test="'maint_str_ymd' == sidx and sidx != ''">
                    tmd.maint_str_ymd ${sord}
                </when>
                <when test="'maint_end_ymd' == sidx and sidx != ''">
                    tmd.maint_end_ymd ${sord}
                </when>
                <when test="'district_nm' == sidx and sidx != ''">
                    tmd.district_no ${sord}
                </when>
                <when test="'sens_nm' == sidx and sidx != ''">
                    tmd.sens_no ${sord}
                </when>
                <when test="'code_nm' == sidx and sidx != ''">
                    tmd.maint_rslt_cd ${sord}
                </when>
                <when test="'maint_dtls' == sidx and sidx != ''">
                    tmd.maint_dtls ${sord}
                </when>
                <when test="'maint_comp_nm' == sidx and sidx != ''">
                    tmd.maint_comp_nm ${sord}
                </when>
                <when test="'maint_chgr_nm' == sidx and sidx != ''">
                    tmd.maint_chgr_nm ${sord}
                </when>
                <when test="'maint_chgr_ph' == sidx and sidx != ''">
                    tmd.maint_chgr_ph ${sord}
                </when>
                <when test="'reg_dt' == sidx and sidx != ''">
                    tmd.reg_dt ${sord}
                </when>
                <otherwise>
                    tmd.reg_dt desc
                </otherwise>
            </choose>
        </trim>
    </sql>

    <select id="selectMaintenanceDetailsList" parameterType="java.util.Map"
            resultType="com.safeone.dashboard.dto.maintenance.MaintenanceDetailsDto">
        SELECT tmd.mgnt_no
        , tst.sens_tp_nm
        , tst.senstype_no
        , TO_CHAR(tmd.maint_accpt_ymd::timestamp, 'YYYY-MM-DD') AS maint_accpt_ymd
        , TO_CHAR(tmd.maint_str_ymd::timestamp, 'YYYY-MM-DD') AS maint_str_ymd
        , TO_CHAR(tmd.maint_end_ymd::timestamp, 'YYYY-MM-DD') AS maint_end_ymd
        , tmd.district_no
        , tdi.district_nm
        , tmd.sens_no
        , tsi.sens_nm
        , tmd.maint_rslt_cd
        , tcc.code_nm
        , tmd.maint_dtls
        , tmd.maint_comp_nm
        , tmd.maint_chgr_nm
        , tmd.maint_chgr_ph
        , tmd.maint_pic_path1
        , tmd.maint_pic_path2
        , tmd.maint_pic_path3
        , tmd.maint_pic_path4
        , tmd.reg_dt
        , tmd.mod_dt
        FROM tb_maint_details tmd
        LEFT OUTER JOIN tb_district_info tdi ON tmd.district_no = tdi.district_no
        LEFT OUTER JOIN tb_sensor_info tsi ON tmd.sens_no = tsi.sens_no
        LEFT OUTER JOIN tb_common_code tcc ON tmd.maint_rslt_cd = tcc.code_id
        LEFT OUTER JOIN tb_sensor_type tst ON tsi.senstype_no = tst.senstype_no
        WHERE 1=1
        <include refid="rowSearch"/>
        <include refid="rowOrder"/>
        <if test="page != null and page > 0">
            limit #{rows}::int offset (#{page}::int - 1) * #{rows}::int
        </if>
    </select>

    <select id="selectMaintenanceDetailsListTotal" parameterType="java.util.Map" resultType="int">
        SELECT count(tmd.mgnt_no)
        FROM tb_maint_details tmd
        LEFT OUTER JOIN tb_district_info tdi ON tmd.district_no = tdi.district_no
        LEFT OUTER JOIN tb_sensor_info tsi ON tmd.sens_no = tsi.sens_no
        LEFT OUTER JOIN tb_common_code tcc ON tmd.maint_rslt_cd = tcc.code_id
        WHERE 1 = 1
        <include refid="rowSearch"/>
    </select>

    <insert id="insertMaintenanceDetails" parameterType="java.util.Map">
        INSERT INTO tb_maint_details ( mgnt_no
                                     , maint_accpt_ymd
                                     , maint_str_ymd
                                     , maint_end_ymd
                                     , district_no
                                     , sens_no
                                     , maint_rslt_cd
                                     , maint_dtls
                                     , maint_comp_nm
                                     , maint_chgr_nm
                                     , maint_chgr_ph
                                     , maint_pic_path1
                                     , maint_pic_path2
                                     , maint_pic_path3
                                     , maint_pic_path4
                                     , reg_dt
                                     , mod_dt)
        VALUES ( (SELECT COALESCE(MAX(mgnt_no), 0) + 1 FROM tb_maint_details)
               , #{maint_accpt_ymd}
               , #{maint_str_ymd}
               , #{maint_end_ymd}
               , #{district_no}
               , #{sens_no}
               , #{maint_rslt_cd}
               , #{maint_dtls}
               , #{maint_comp_nm}
               , #{maint_chgr_nm}
               , #{maint_chgr_ph}
               , #{maint_pic_path1}
               , #{maint_pic_path2}
               , #{maint_pic_path3}
               , #{maint_pic_path4}
               , now()
               , now())
    </insert>

    <update id="updateMaintenanceDetails" parameterType="java.util.Map">
        UPDATE tb_maint_details
        SET maint_accpt_ymd = #{maint_accpt_ymd}
          , maint_str_ymd   = #{maint_str_ymd}
          , maint_end_ymd   = #{maint_end_ymd}
          , maint_rslt_cd   = #{maint_rslt_cd}
          , maint_dtls      = #{maint_dtls}
          , maint_comp_nm   = #{maint_comp_nm}
          , maint_chgr_nm   = #{maint_chgr_nm}
          , maint_chgr_ph   = #{maint_chgr_ph}
          , maint_pic_path1 = #{maint_pic_path1}
          , maint_pic_path2 = #{maint_pic_path2}
          , maint_pic_path3 = #{maint_pic_path3}
          , maint_pic_path4 = #{maint_pic_path4}
          , mod_dt          = now()
        WHERE mgnt_no = #{mgnt_no}
    </update>

    <delete id="deleteMaintenanceDetails" parameterType="java.util.Map">
        DELETE
        FROM tb_maint_details
        WHERE mgnt_no = #{mgnt_no}
    </delete>
</mapper>