<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.safeone.dashboard.dao.broadcastsystemconnection.BroadcastTextMapper">
    <sql id="rowSearch">
        <if test="mgnt_no != null and mgnt_no != ''">
            and tbd.mgnt_no::TEXT ilike '%' || #{mgnt_no} || '%'
        </if>
        <if test="brdcast_title != null and brdcast_title != ''">
            and tbd.brdcast_title ilike '%' || #{brdcast_title} || '%'
        </if>
        <if test="brdcast_msg_dtls != null and brdcast_msg_dtls != ''">
            and tbd.brdcast_msg_dtls ilike '%' || #{brdcast_msg_dtls} || '%'
        </if>
    </sql>

    <sql id="rowOrder">
        <trim prefix="order by">
            <choose>
                <when test="'mgnt_no' == sidx and sidx != ''">
                    tbd.mgnt_no ${sord}
                </when>
                <when test="'brdcast_title' == sidx and sidx != ''">
                    tbd.brdcast_title ${sord}
                </when>
                <when test="'brdcast_msg_dtls' == sidx and sidx != ''">
                    tbd.brdcast_msg_dtls ${sord}
                </when>
                <otherwise>
                    tbd.reg_dt desc
                </otherwise>
            </choose>
        </trim>
    </sql>

    <select id="selectBroadcastTextList" parameterType="java.util.Map"
            resultType="com.safeone.dashboard.dto.broadcastsystemconnection.BroadcastTextDto">
        SELECT tbd.mgnt_no
        , tbd.brdcast_no
        , tbd.brdcast_dt
        , tbd.brdcast_msg_dtls
        , tbd.brdcast_title
        , tbd.brdcast_rslt_yn
        , tbd.brdcast_contnts
        , tbd.district_no
        , tbd.reg_dt
        , tbd.mod_dt
        FROM tb_broadcast_details tbd
        WHERE 1=1
        <include refid="rowSearch"/>
        <include refid="rowOrder"/>
        <if test="page != null and page > 0">
            limit #{rows}::int offset (#{page}::int - 1) * #{rows}::int
        </if>
    </select>

    <select id="selectBroadcastTextListTotal" parameterType="java.util.Map" resultType="int">
        SELECT count(tbd.mgnt_no)
        FROM tb_broadcast_details tbd
        WHERE 1 = 1
        <include refid="rowSearch"/>
    </select>

    <insert id="insertBroadcastText" parameterType="java.util.Map">
        INSERT INTO tb_broadcast_details ( mgnt_no
                                         , brdcast_no
                                         , brdcast_dt
                                         , brdcast_msg_dtls
                                         , brdcast_title
                                         , brdcast_rslt_yn
                                         , brdcast_contnts
                                         , district_no
                                         , reg_dt
                                         , mod_dt)
        SELECT COALESCE(max(mgnt_no::integer), 0) + 1 as mgnt_no
             , #{brdcast_no}
             , #{brdcast_dt}::timestamp
             , #{brdcast_msg_dtls}
             , #{brdcast_title}
             , #{brdcast_rslt_yn}
             , #{brdcast_contnts}
             , #{district_no}
             , now()
             , now()
        FROM tb_broadcast_details
    </insert>

    <update id="updateBroadcastText" parameterType="java.util.Map">
        UPDATE tb_broadcast_details
        SET brdcast_msg_dtls = #{brdcast_msg_dtls}
          , brdcast_title    = #{brdcast_title}
          , mod_dt           = now()
        WHERE mgnt_no = #{mgnt_no}
    </update>

    <delete id="deleteBroadcastText" parameterType="java.util.Map">
        DELETE
        FROM tb_broadcast_details
        WHERE mgnt_no = #{mgnt_no}
    </delete>
</mapper>