<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.safeone.dashboard.dao.broadcastsystemconnection.BroadcastHistoryMapper">
    <sql id="rowSearch">
        <if test="mgnt_no != null and mgnt_no != ''">
            and tbh.mgnt_no::TEXT ilike '%' || #{mgnt_no} || '%'
        </if>
        <if test="send_dt_start != null and send_dt_start != '' and send_dt_end != null and send_dt_end != ''">
            and tbh.send_dt::timestamp between concat(#{send_dt_start},' 00:00:00')::timestamp and
            concat(#{send_dt_end},' 23:59:59')::timestamp
        </if>
        <if test="brdcast_msg_dtls != null and brdcast_msg_dtls != ''">
            and tbh.brdcast_msg_dtls ilike '%' || #{brdcast_msg_dtls} || '%'
        </if>
        <if test="brdcast_no != null and brdcast_no != ''">
            and tbh.brdcast_no ilike '%' || #{brdcast_no} || '%'
        </if>
        <if test="send_rslt_yn != null and send_rslt_yn != ''">
            and tbh.send_rslt_yn ilike '%' || #{send_rslt_yn} || '%'
        </if>
        <if test="broadcast_rslt_yn != null and broadcast_rslt_yn != ''">
            and tbh.broadcast_rslt_yn ilike '%' || #{broadcast_rslt_yn} || '%'
        </if>
    </sql>

    <sql id="rowOrder">
        <trim prefix="order by">
            <choose>
                <when test="'mgnt_no' == sidx and sidx != ''">
                    tbh.mgnt_no ${sord}
                </when>
                <when test="'send_dt' == sidx and sidx != ''">
                    tbh.send_dt ${sord}
                </when>
                <when test="'brdcast_msg_dtls' == sidx and sidx != ''">
                    tbh.brdcast_msg_dtls ${sord}
                </when>
                <when test="'brdcast_no' == sidx and sidx != ''">
                    tbh.brdcast_no ${sord}
                </when>
                <when test="'send_rslt_yn' == sidx and sidx != ''">
                    tbh.send_rslt_yn ${sord}
                </when>
                <when test="'broadcast_rslt_yn' == sidx and sidx != ''">
                    tbh.broadcast_rslt_yn ${sord}
                </when>
                <otherwise>
                    tbh.reg_dt desc
                </otherwise>
            </choose>
        </trim>
    </sql>

    <select id="selectBroadcastHistoryList" parameterType="java.util.Map"
            resultType="com.safeone.dashboard.dto.broadcastsystemconnection.BroadcastHistoryDto">
        SELECT tbh.mgnt_no
        , tbh.send_dt
        , tbh.brdcast_msg_dtls
        , tbh.brdcast_no
        , tbh.send_rslt_yn
        , tbh.broadcast_rslt_yn
        , tbh.reg_dt
        , tbh.mod_dt
        FROM tb_broadcast_history tbh
        WHERE 1=1
        <include refid="rowSearch"/>
        <include refid="rowOrder"/>
        <if test="page != null and page > 0">
            limit #{rows}::int offset (#{page}::int - 1) * #{rows}::int
        </if>
    </select>

    <select id="selectBroadcastHistoryListTotal" parameterType="java.util.Map" resultType="int">
        SELECT count(tbh.mgnt_no)
        FROM tb_broadcast_history tbh
        WHERE 1 = 1
        <include refid="rowSearch"/>
    </select>

    <insert id="insertBroadcastHistory" parameterType="java.util.Map">
        INSERT INTO tb_broadcast_history ( mgnt_no
                                         , send_dt
                                         , brdcast_msg_dtls
                                         , brdcast_no
                                         , send_rslt_yn
                                         , broadcast_rslt_yn
                                         , reg_dt
                                         , mod_dt)
        VALUES ((SELECT COALESCE(MAX(mgnt_no), 0) + 1 FROM tb_broadcast_history),
                now(),
                #{brdcast_msg_dtls},
                #{brdcast_no},
                'Y',
                'N',
                now(),
                now())
    </insert>

    <update id="updateBroadcastHistory" parameterType="java.util.Map">
    </update>

    <delete id="deleteBroadcastHistory" parameterType="java.util.Map">
        DELETE
        FROM tb_maintenance
        WHERE maintenance_id = #{maintenance_id}
    </delete>
</mapper>