<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.safeone.dashboard.dao.sensor.AlarmDetailsMapper">
    <sql id="rowSearch">
        <if test="meas_dt != null and meas_dt != ''">
            and tad.meas_dt::TEXT ILIKE '%' || #{meas_dt} || '%'
        </if>
        <if test="district_nm != null and district_nm != ''">
            and tdi.district_nm ilike '%' || #{district_nm} || '%'
        </if>
        <if test="sens_chnl_id != null and sens_chnl_id != ''">
            and tad.sens_chnl_id ilike '%' || #{sens_chnl_id} || '%'
        </if>
        <if test="alarm_lvl_cd != null and alarm_lvl_cd != ''">
            and tad.alarm_lvl_cd ilike '%' || #{alarm_lvl_cd} || '%'
        </if>
        <if test="formul_data != null and formul_data != ''">
            and tad.formul_data ilike '%' || #{formul_data} || '%'
        </if>
        <if test="maint_sts_cd != null and maint_sts_cd != ''">
            and tad.maint_sts_cd ilike '%' || #{maint_sts_cd} || '%'
        </if>
        <if test="net_err_yn != null and net_err_yn != ''">
            and tad.net_err_yn ilike '%' || #{net_err_yn} || '%'
        </if>
        <if test="sms_cnt != null and sms_cnt != ''">
            and sms_cnt ilike '%' || #{sms_cnt} || '%'
        </if>
        <if test="start_date != null and start_date != '' and end_date != null and end_date != ''">
            and tad.meas_dt::timestamp between concat(#{start_date},' 00:00:00')::timestamp and concat(#{end_date},' 23:59:59')::timestamp
        </if>
    </sql>

    <sql id="rowOrder">
        <trim prefix="order by">
            <choose>
                <when test="'meas_dt' == sidx and sidx != ''">
                    tad.meas_dt ${sord}
                </when>
                <when test="'district_nm' == sidx and sidx != ''">
                    tdi.district_nm ${sord}
                </when>
                <when test="'sens_chnl_id' == sidx and sidx != ''">
                    tad.sens_chnl_id ${sord}
                </when>
                <when test="'alarm_lvl_cd' == sidx and sidx != ''">
                    tad.alarm_lvl_cd ${sord}
                </when>
                <when test="'formul_data' == sidx and sidx != ''">
                    tad.formul_data ${sord}
                </when>
                <when test="'maint_sts_cd' == sidx and sidx != ''">
                    tad.maint_sts_cd ${sord}
                </when>
                <when test="'net_err_yn' == sidx and sidx != ''">
                    tad.net_err_yn ${sord}
                </when>
                <when test="'sms_cnt' == sidx and sidx != ''">
                    sms_cnt ${sord}
                </when>
                <otherwise>
                    tad.reg_dt desc
                </otherwise>
            </choose>
        </trim>
    </sql>

    <select id="getList" parameterType="java.util.Map" resultType="com.safeone.dashboard.dto.sensor.AlarmDetailsDto">
        SELECT
            tad.sens_no,
            tad.meas_dt,
            tsi.sens_nm,
            tdi.district_nm,
            tad.sens_chnl_id,
            tad.alarm_lvl_cd,
            tad.formul_data,
            tad.net_err_yn,
            tad.maint_sts_cd,
            tsc.sens_chnl_nm,
            tai."1st_lvl_max" AS max1,
            tai."1st_lvl_min" AS min1,
            tai."2nd_lvl_max" AS max2,
            tai."2nd_lvl_min" AS min2,
            tai."3rd_lvl_max" AS max3,
            tai."3rd_lvl_min" AS min3,
            tai."4th_lvl_max" AS max4,
            tai."4th_lvl_min" AS min4,
            (SELECT COUNT(*)
            FROM tb_sms_details
            WHERE alarm_mgnt_no = tad.mgnt_no) AS sms_cnt,
            tad.reg_dt
        FROM tb_alarm_details tad
        LEFT JOIN tb_district_info tdi
            ON tad.district_no = tdi.district_no
        LEFT JOIN tb_sensor_info tsi
            ON tad.sens_no = tsi.sens_no
        LEFT JOIN tb_alarm_info tai
            ON tad.sens_no = tai.sens_no and tad.sens_chnl_id = tai.sens_chnl_id
        LEFT JOIN tb_sensor_chnl tsc
            ON tad.sens_no = tsc.sens_no and tad.sens_chnl_id = tsc.sens_chnl_id
        WHERE 1=1
        <include refid="rowSearch"/>
        <include refid="rowOrder"/>
        <if test="page != null and page > 0">
            limit #{rows}::int offset (#{page}::int - 1) * #{rows}::int
        </if>
    </select>

    <select id="getTotalCount" parameterType="java.util.Map" resultType="int">
        SELECT count(tad.mgnt_no)
        FROM tb_alarm_details tad
        left join tb_district_info tdi on tad.district_no = tdi.district_no
        left join tb_sensor_info tsi on tad.sens_no = tsi.sens_no
        left join tb_alarm_info tai on tad.sens_no = tai.sens_no
        WHERE 1=1
        <include refid="rowSearch"/>
    </select>

    <insert id="insertAlarm" parameterType="java.util.Map">
        INSERT INTO tb_alarm ( alarm_uid
                             , asset_id
                             , asset_kind_id
                             , alarm_kind_id
                             , reg_date
                             , description
                             , risk_level
                             , alarm_type
                             , alarm_title
                             , alarm_desc
                             , view_flag)
        SELECT COALESCE(max(alarm_uid::integer), 0) + 1 as alarm_uid
             , #{asset_id}
             , #{asset_kind_id}
             , #{alarm_kind_id}
             , now()
             , #{description}
             , #{risk_level}
             , #{type}
             , #{name}
             , #{description}
             , 'Y'
        FROM tb_alarm
    </insert>

    <select id="selectDashboardAlarmHistory" parameterType="java.util.Map" resultType="com.safeone.dashboard.dto.sensor.AlarmDetailsDto">
        SELECT
            tad.sens_no,
            tad.meas_dt,
            tsi.sens_nm,
            tdi.district_nm,
            tad.sens_chnl_id,
            tad.alarm_lvl_cd,
            tad.formul_data,
            tad.net_err_yn,
            tad.maint_sts_cd,
            tai."1st_lvl_max" AS max1,
            tai."1st_lvl_min" AS min1,
            tai."2nd_lvl_max" AS max2,
            tai."2nd_lvl_min" AS min2,
            tai."3rd_lvl_max" AS max3,
            tai."3rd_lvl_min" AS min3,
            tai."4th_lvl_max" AS max4,
            tai."4th_lvl_min" AS min4,
            (SELECT COUNT(*)
            FROM tb_sms_details
            WHERE alarm_mgnt_no = tad.mgnt_no) AS sms_cnt
        FROM tb_alarm_details tad
        LEFT JOIN tb_district_info tdi
        ON tad.district_no = tdi.district_no
        LEFT JOIN tb_sensor_info tsi
        ON tad.sens_no = tsi.sens_no
        LEFT JOIN tb_alarm_info tai
        ON tad.sens_no = tai.sens_no
        WHERE 1=1
        <include refid="rowSearch"/>
    </select>
</mapper>