<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.safeone.dashboard.dao.sensor.AlertStandardManagementMapper">
    <sql id="rowSearch">
        <if test="district_nm != null and district_nm != ''">
            and tdi.district_nm ilike '%' || #{district_nm} || '%'
        </if>
        <if test="sens_tp_nm != null and sens_tp_nm != ''">
            and tst.sens_tp_nm ilike '%' || #{sens_tp_nm} || '%'
        </if>
        <if test="sens_nm != null and sens_nm != ''">
            and tsi.sens_nm ilike '%' || #{sens_nm} || '%'
        </if>
        <if test="sens_chnl_id != null and sens_chnl_id != ''">
            and tai.sens_chnl_id ilike '%' || #{sens_chnl_id} || '%'
        </if>
        <if test="min1 != null and min1 != ''">
            AND tai."1st_lvl_min"::TEXT ILIKE '%' || #{min1}::TEXT || '%'
        </if>
        <if test="max1 != null and max1 != ''">
            AND tai."1st_lvl_max"::TEXT ILIKE '%' || #{max1}::TEXT || '%'
        </if>
        <if test="min2 != null and min2 != ''">
            AND tai."2nd_lvl_min"::TEXT ILIKE '%' || #{min2}::TEXT || '%'
        </if>
        <if test="max2 != null and max2 != ''">
            AND tai."2nd_lvl_max"::TEXT ILIKE '%' || #{max2}::TEXT || '%'
        </if>
        <if test="min3 != null and min3 != ''">
            AND tai."3rd_lvl_min"::TEXT ILIKE '%' || #{min3}::TEXT || '%'
        </if>
        <if test="max3 != null and max3 != ''">
            AND tai."3rd_lvl_max"::TEXT ILIKE '%' || #{max3}::TEXT || '%'
        </if>
        <if test="min4 != null and min4 != ''">
            AND tai."4th_lvl_min"::TEXT ILIKE '%' || #{min4}::TEXT || '%'
        </if>
        <if test="max4 != null and max4 != ''">
            AND tai."4th_lvl_max"::TEXT ILIKE '%' || #{max4}::TEXT || '%'
        </if>
        <if test="lvl_apply_dt_start != null and lvl_apply_dt_start != '' and lvl_apply_dt_end != null and lvl_apply_dt_end != ''">
            and tai.lvl_apply_dt::timestamp between concat(#{lvl_apply_dt_start},' 00:00:00')::timestamp and
            concat(#{lvl_apply_dt_end},' 23:59:59')::timestamp
        </if>
    </sql>

    <sql id="rowOrder">
        <trim prefix="order by">
            <choose>
                <when test="'district_nm' == sidx and sidx != ''">
                    tdi.district_nm ${sord}
                </when>
                <when test="'sens_tp_nm' == sidx and sidx != ''">
                    tst.sens_tp_nm ${sord}
                </when>
                <when test="'sens_nm' == sidx and sidx != ''">
                    tsi.sens_nm ${sord}
                </when>
                <when test="'sens_chnl_id' == sidx and sidx != ''">
                    tai.sens_chnl_id ${sord}
                </when>
                <when test="'min1' == sidx and sidx != ''">
                    tai."1st_lvl_min" ${sord}
                </when>
                <when test="'max1' == sidx and sidx != ''">
                    tai."1st_lvl_max" ${sord}
                </when>
                <when test="'min2' == sidx and sidx != ''">
                    tai."2nd_lvl_min" ${sord}
                </when>
                <when test="'max2' == sidx and sidx != ''">
                    tai."2nd_lvl_max" ${sord}
                </when>
                <when test="'min3' == sidx and sidx != ''">
                    tai."3rd_lvl_min" ${sord}
                </when>
                <when test="'max3' == sidx and sidx != ''">
                    tai."3rd_lvl_max" ${sord}
                </when>
                <when test="'min4' == sidx and sidx != ''">
                    tai."4th_lvl_min" ${sord}
                </when>
                <when test="'max4' == sidx and sidx != ''">
                    tai."4th_lvl_max" ${sord}
                </when>
                <when test="'lvl_apply_dt' == sidx and sidx != ''">
                    tai.lvl_apply_dt ${sord}
                </when>
                <otherwise>
                    tai.reg_dt desc
                </otherwise>
            </choose>
        </trim>
    </sql>

    <select id="getList" parameterType="java.util.Map"
            resultType="com.safeone.dashboard.dto.sensor.AlertStandardManagementDto">
        select tst.sens_tp_nm
        , tai.sens_no
        , tsi.sens_nm
        , tai.sens_chnl_id
        , tai."1st_lvl_min" as min1
        , tai."1st_lvl_max" as max1
        , tai."2nd_lvl_min" as min2
        , tai."2nd_lvl_max" as max2
        , tai."3rd_lvl_min" as min3
        , tai."3rd_lvl_max" as max3
        , tai."4th_lvl_min" as min4
        , tai."4th_lvl_max" as max4
        , tai.lvl_apply_dt
        , tdi.district_nm
        from tb_alarm_info tai
        left join tb_sensor_info tsi on tai.sens_no = tsi.sens_no
        left join tb_sensor_type tst on tsi.senstype_no = tst.senstype_no
        left join tb_district_info tdi on tai.district_no = tdi.district_no
        WHERE 1=1
        <include refid="rowSearch"/>
        <include refid="rowOrder"/>
        <if test="page != null and page > 0">
            limit #{rows}::int offset (#{page}::int - 1) * #{rows}::int
        </if>
    </select>

    <select id="getTotalCount" parameterType="java.util.Map" resultType="int">
        SELECT count(tai.sens_no)
        from tb_alarm_info tai
        left join tb_sensor_info tsi on tai.sens_no = tsi.sens_no
        left join tb_sensor_type tst on tsi.senstype_no = tst.senstype_no
        left join tb_district_info tdi on tai.district_no = tdi.district_no
        WHERE 1=1
        <include refid="rowSearch"/>
    </select>

    <update id="updateAlertStandardManagement" parameterType="java.util.Map">
        update tb_alarm_info
        set "1st_lvl_min" = #{min1}::double precision
          , "1st_lvl_max" = #{max1}:: double precision
          , "2nd_lvl_min" = #{min2}:: double precision
          , "2nd_lvl_max" = #{max2}:: double precision
          , "3rd_lvl_min" = #{min3}:: double precision
          , "3rd_lvl_max" = #{max3}:: double precision
          , "4th_lvl_min" = #{min4}:: double precision
          , "4th_lvl_max" = #{max4}:: double precision
          , lvl_apply_dt = now()
        where sens_no = #{sens_no}
          and sens_chnl_id = #{sens_chnl_id}
    </update>
</mapper>