<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.safeone.dashboard.dao.sensor.SensorMapper">
    <sql id="rowSearch">
    </sql>

    <sql id="rowOrder">
    </sql>

    <select id="getList" parameterType="java.util.Map" resultType="com.safeone.dashboard.dto.sensor.SensorDto">
        SELECT tsd.mgnt_no
        , tsd.sms_trans_dt
        , tsd.sms_recv_chgr
        , tsd.sms_recv_ph
        , tsd.district_nm
        , tsd.sms_rslt_yn
        , tsd.sms_msg_dtls
        FROM tb_sms_details tsd
        WHERE 1=1
        <include refid="rowSearch"/>
        <include refid="rowOrder"/>
        <if test="page != null and page > 0">
            limit #{rows}::int offset (#{page}::int - 1) * #{rows}::int
        </if>
    </select>

    <select id="getTotalCount" parameterType="java.util.Map" resultType="int">
        SELECT count(tad.mgnt_no)
        FROM tb_alarm_details tad
        left join tb_district_info tdi on tad.district_no = tdi.district_no
        left join tb_sensor_info tsi on tad.sens_no = tsi.sens_no
        left join tb_alarm_info tai on tad.sens_no = tai.sens_no
        WHERE 1=1
        <include refid="rowSearch"/>
    </select>
</mapper>