<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.safeone.dashboard.dao.AssetKindMapper">
    <sql id="rowSearch">
        <if test="asset_kind_id != null and asset_kind_id != ''">
            and MG.asset_kind_id = #{asset_kind_id}
        </if>
        <if test="name != null and name != ''">
            and MG.name ilike '%' || #{name} || '%'
        </if>
        <if test="description != null and description != ''">
            and MG.description ilike '%' || #{description} || '%'
        </if>
        <if test="etc1 != null and etc1 != ''">
            and MG.etc1 ilike '%' || #{etc1} || '%'
        </if>
        <if test="etc2 != null and etc2 != ''">
            and MG.etc2 ilike '%' || #{etc2} || '%'
        </if>
        <if test="etc3 != null and etc3 != ''">
            and MG.etc3 ilike '%' || #{etc3} || '%'
        </if>
        <if test="mod_date_start != null and mod_date_start != '' and mod_date_end != null and mod_date_end != ''">
            and MG.mod_date::timestamp between (#{mod_date_start}::timestamp) and (#{mod_date_end}::timestamp)
        </if>
        <if test="mod_user != null and mod_user != ''">
            and MG.mod_user ilike '%' || #{mod_user} || '%'
        </if>
    </sql>

    <sql id="rowOrder">
        <trim prefix="order by">
            <choose>
                <when test="'asset_kind_id' == sidx and sidx != ''">
                    MG.asset_kind_id::integer ${sord}
                </when>
                <when test="'name' == sidx and sidx != ''">
                    MG.name ${sord}
                </when>
                <when test="'description' == sidx and sidx != ''">
                    MG.description ${sord}
                </when>
                <when test="'etc1' == sidx and sidx != ''">
                    MG.etc1 ${sord}
                </when>
                <when test="'etc2' == sidx and sidx != ''">
                    MG.etc2 ${sord}
                </when>
                <when test="'etc3' == sidx and sidx != ''">
                    MG.etc3 ${sord}
                </when>
                <when test="'mod_date' == sidx and sidx != ''">
                    MG.mod_date ${sord}
                </when>
                <when test="'mod_user' == sidx and sidx != ''">
                    MG.mod_user ${sord}
                </when>
                <otherwise>
                    MG.asset_kind_id::integer
                </otherwise>
            </choose>
        </trim>
    </sql>

    <select id="selectAssetKindList" parameterType="java.util.Map" resultType="com.safeone.dashboard.dto.AssetKindDto">
        SELECT MG.*
        FROM (
            SELECT
            A.asset_kind_id
            , A.name
            , A.description
            , A.etc1
            , A.etc2
            , A.etc3
            , TO_CHAR(A.mod_date::timestamp, 'YYYY-MM-DD') AS mod_date
            , A.mod_user
            FROM tb_asset_kind A
        ) MG
        WHERE 1=1
        <include refid="rowSearch"/>
        <include refid="rowOrder"/>
        <if test="page != null and page > 0">
            limit #{rows}::int offset (#{page}::int - 1) * #{rows}::int
        </if>
    </select>

    <select id="selectAssetKindListTotal" parameterType="java.util.Map" resultType="int">
        SELECT count(*)
        FROM (
        SELECT
        A.asset_kind_id
        , A.name
        , A.description
        , A.etc1
        , A.etc2
        , A.etc3
        , TO_CHAR(A.mod_date::timestamp, 'YYYY-MM-DD') AS mod_date
        , A.mod_user
        FROM tb_asset_kind A
        ) MG
        WHERE 1=1
        <include refid="rowSearch"/>
    </select>

    <insert id="insertAssetKind" parameterType="java.util.Map">
        INSERT INTO tb_asset_kind (
        asset_kind_id
          , name
          , description
          , etc1
          , etc2
          , etc3
          , mod_date
          , mod_user
        )
        SELECT
          COALESCE(max(asset_kind_id::integer),0)+1 as asset_kind_id
          , #{name}
          , #{description}
          , #{etc1}
          , #{etc2}
          , #{etc3}
          , now()
          , #{mod_user}
        FROM tb_asset_kind
    </insert>

    <update id="updateAssetKind" parameterType="java.util.Map">
        update tb_asset_kind set
            mod_date = now()
        <if test="name != null">
            , name = #{name}
        </if>
        <if test="description != null">
            , description = #{description}
        </if>
        <if test="etc1 != null">
            , etc1 = #{etc1}
        </if>
        <if test="etc2 != null">
            , etc2 = #{etc2}
        </if>
        <if test="etc3 != null">
            , etc3 = #{etc3}
        </if>
        <if test="mod_user != null and mod_user != ''">
            , mod_user = #{mod_user}
        </if>
        where asset_kind_id = #{asset_kind_id}
    </update>

    <delete id="deleteAssetKind" parameterType="java.util.Map">
        DELETE FROM tb_asset_kind
         WHERE asset_kind_id = #{asset_kind_id}
    </delete>
</mapper>