<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.safeone.dashboard.dao.CalcMapper">
    <sql id="rowSearch">
        <if test="asset_kind_name != null and asset_kind_name != ''">
            and MG.asset_kind_name = #{asset_kind_name}
        </if>
        <if test="asset_name != null and asset_name != ''">
            and MG.asset_name ilike '%' || #{asset_name} || '%'
        </if>
        <if test="channel_name != null and channel_name != ''">
            and MG.channel_name ilike '%' || #{channel_name} || '%'
        </if>
        <if test="initial_value != null and initial_value != ''">
            and MG.initial_value ilike '%' || #{initial_value} || '%'
        </if>
        <if test="factor_value != null and factor_value != ''">
            and MG.factor_value ilike '%' || #{factor_value} || '%'
        </if>
        <if test="offset_value != null and offset_value != ''">
            and MG.offset_value ilike '%' || #{offset_value} || '%'
        </if>
        <if test="sensor_id != null and sensor_id != ''">
            and MG.sensor_id = #{sensor_id}
        </if>
        <if test="zone_id != null and zone_id != ''">
            and MG.zone_id = #{zone_id}
        </if>
        <if test="zone_name != null and zone_name != ''">
            and MG.zone_name ilike #{zone_name} || '%'
        </if>
    </sql>

    <sql id="rowOrder">
        <trim prefix="order by">
            <choose>
                <when test="'asset_kind_name' == sidx and sidx != ''">
                    MG.asset_kind_name ${sord}
                </when>
                <when test="'asset_name' == sidx and sidx != ''">
                    MG.asset_name ${sord}
                </when>
                <when test="'channel_name' == sidx and sidx != ''">
                    MG.channel_name ${sord}
                </when>
                <when test="'initial_value' == sidx and sidx != ''">
                    MG.initial_value ${sord}
                </when>
                <when test="'factor_value' == sidx and sidx != ''">
                    MG.factor_value ${sord}
                </when>
                <when test="'offset_value' == sidx and sidx != ''">
                    MG.offset_value ${sord}
                </when>
                <otherwise>
                    MG.zone_id, MG.asset_name, MG.channel_name
                </otherwise>
            </choose>
        </trim>
    </sql>

    <!-- (2026-02-26) - tb_calc → tb_logr_idx_map JOIN tb_sensor_init 으로 변경, formul_data 조회 -->
    <select id="selectCalcByDeviceId" parameterType="java.util.Map" resultType="string">
        SELECT tsi.formul_data
        FROM tb_logr_idx_map tlim
                 JOIN tb_sensor_init tsi ON tsi.sens_no = tlim.sens_no AND tsi.sens_chnl_id = tlim.sens_chnl_id
        WHERE tlim.logr_no = #{zone_id}
          AND tlim.logr_idx_no = #{sensor_id}
    </select>
</mapper>