<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.safeone.dashboard.dao.CctvListMapper">
    <sql id="rowSearch">
        <if test="asset_kind_id != null and asset_kind_id != ''">
            and MG.asset_kind_id = #{asset_kind_id}
        </if>
        <if test="name != null and name != ''">
            and MG.name ilike '%' || #{name} || '%'
        </if>
        <if test="channel_name != null and channel_name != ''">
            and MG.channel_name ilike '%' || #{channel_name} || '%'
        </if>
        <if test="area_id != null and area_id != ''">
            and MG.area_id = #{area_id}
        </if>
        <if test="zone_id != null and zone_id != ''">
            and MG.zone_id = #{zone_id}
        </if>
        <if test="install_date != null and install_date != ''">
            and MG.install_date ilike '%' || #{install_date} || '%'
        </if>
        <if test="collect_date != null and collect_date != ''">
            and MG.collect_date ilike '%' || #{collect_date} || '%'
        </if>
        <if test="collect_date_start != null and collect_date_start != '' and collect_date_end != null and collect_date_end != ''">
            and to_date(MG.collect_date, 'YYYY-MM-DD') between #{collect_date_start}::date and #{collect_date_end}::date
        </if>
        <if test="status != null and status != ''">
            and MG.status = #{status}
        </if>
        <if test="real_value != null and real_value != ''">
            and MG.real_value ilike '%' || #{real_value} || '%'
        </if>
        <if test="del_yn != null and del_yn != ''">
            and del_yn = #{del_yn}
        </if>
    </sql>

    <sql id="rowOrder">
        <trim prefix="order by">
            <choose>
                <when test="'asset_kind_id' == sidx and sidx != ''">
                    MG.asset_kind_id ${sord}
                </when>
                <when test="'name' == sidx and sidx != ''">
                    MG.name ${sord}
                </when>
                <when test="'channel_name' == sidx and sidx != ''">
                    MG.channel_name ${sord}
                </when>
                <when test="'area_id' == sidx and sidx != ''">
                    MG.area_id ${sord}
                </when>
                <when test="'zone_id' == sidx and sidx != ''">
                    MG.zone_id ${sord}
                </when>
                <when test="'install_date' == sidx and sidx != ''">
                    MG.install_date ${sord}
                </when>
                <when test="'collect_date' == sidx and sidx != ''">
                    MG.collect_date ${sord}
                </when>
                <when test="'status' == sidx and sidx != ''">
                    MG.status ${sord}
                </when>
                <when test="'real_value' == sidx and sidx != ''">
                    MG.real_value ${sord}
                </when>
                <otherwise>
                    A.cctv_nm ASC
                </otherwise>
            </choose>
        </trim>
    </sql>

    <select id="selectCctvList" parameterType="java.util.Map" resultType="com.safeone.dashboard.dto.CctvListDto">
        SELECT
        A.cctv_no
        ,A.cctv_nm
        ,A.district_no
        ,B.district_nm
        ,A.rtsp_conn_yn
        ,TO_CHAR(A.rtsp_last_check_dt, 'YYYY-MM-DD HH24:MI:SS') AS rtsp_last_check_dt
        ,A.maint_sts_cd
        ,C.code_nm AS maint_sts_nm
        ,TO_CHAR(TO_DATE(A.inst_ymd, 'YYYYMMDD'), 'YYYY-MM-DD') AS inst_ymd
        ,A.model_nm
        ,A.cctv_maker
        ,A.cctv_ip
        ,A.web_port
        ,A.rtsp_port
        ,A.cctv_conn_id
        ,A.cctv_conn_pwd
        ,A.relay_nm
        ,A.relay_ip
        ,A.relay_port
        ,A.cctv_lat
        ,A.cctv_lon
        ,A.admin_center
        ,A.partner_comp_id
        ,D.partner_comp_nm
        ,A.partner_comp_user_nm
        ,A.partner_comp_user_phone
        ,A.etc1
        ,A.etc2
        ,A.etc3
        FROM tb_cctv_info A
        LEFT OUTER JOIN tb_district_info B ON A.district_no = B.district_no
        LEFT OUTER JOIN (SELECT * FROM tb_common_code WHERE code_grp_id = 'MTN000') C ON A.maint_sts_cd = C.code_id
        LEFT OUTER JOIN tb_maintcomp_info D ON A.partner_comp_id = D.partner_comp_id
        where 1=1
        <include refid="rowSearch"/>
        <include refid="rowOrder"/>
        <!--<if test="page != null and page > 0">
            limit #{rows}::int offset (#{page}::int - 1) * #{rows}::int
        </if>-->
        <if test="limit != null and !limit.equals('') and offset != null and !offset.equals('')">
            LIMIT ${limit} OFFSET ${offset}
        </if>
    </select>

    <select id="selectCctvListTotal" parameterType="java.util.Map" resultType="int">
        SELECT count(A.cctv_no)
        FROM tb_cctv_info A
        LEFT OUTER JOIN tb_district_info B ON A.district_no = B.district_no
        LEFT OUTER JOIN (SELECT * FROM tb_common_code WHERE code_grp_id = 'MTN000') C ON A.maint_sts_cd = C.code_id
        LEFT OUTER JOIN tb_maintcomp_info D ON A.partner_comp_id = D.partner_comp_id
        where 1=1
        <include refid="rowSearch"/>
    </select>

    <select id="getCctvInfo" parameterType="java.util.Map" resultType="com.safeone.dashboard.dto.CctvListDto">
        SELECT A.cctv_no
             , A.cctv_ip
             , A.web_port
             , A.rtsp_port
             , A.cctv_conn_id
             , A.cctv_conn_pwd
        From tb_cctv_info A
        WHERE A.cctv_no = #{cctv_no}
    </select>

    <select id="selectCctvListTotalByStatus" resultType="com.safeone.dashboard.dto.CctvCountDto">
        SELECT
        COUNT(A.cctv_no) AS allCnt,
        COUNT(*) FILTER (
        WHERE
        COALESCE(NULLIF(BTRIM(A.cctv_ip), ''), NULL) IS NULL
        OR A.web_port IS NULL
        OR COALESCE(NULLIF(BTRIM(A.cctv_conn_id), ''), NULL) IS NULL
        OR COALESCE(NULLIF(BTRIM(A.cctv_conn_pwd), ''), NULL) IS NULL
        ) AS errCnt,
        COUNT(*) FILTER (
        WHERE
        COALESCE(NULLIF(BTRIM(A.cctv_ip), ''), NULL) IS NOT NULL
        AND A.web_port IS NOT NULL
        AND COALESCE(NULLIF(BTRIM(A.cctv_conn_id), ''), NULL) IS NOT NULL
        AND COALESCE(NULLIF(BTRIM(A.cctv_conn_pwd), ''), NULL) IS NOT NULL
        ) AS conCnt
        FROM tb_cctv_info A
        LEFT JOIN tb_district_info B ON A.district_no = B.district_no
        LEFT JOIN (SELECT * FROM tb_common_code WHERE code_grp_id = 'MTN000') C ON A.maint_sts_cd = C.code_id
        LEFT JOIN tb_maintcomp_info D ON A.partner_comp_id = D.partner_comp_id
        WHERE 1=1
        <include refid="rowSearch"/>
    </select>
</mapper>
