<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.safeone.dashboard.dao.CctvMapper">
	<select id="getCctvListTotalCnt" parameterType="java.util.HashMap" resultType="java.lang.Integer">
		/* CctvMapper.getCctvListTotalCnt */
		SELECT
			COUNT(1)
		FROM tb_cctv_info A
		<include refid="getCctvList-where"/>
	</select>

	<select id="getCctvList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		/* CctvMapper.getCctvList */
		SELECT
			ROW_NUMBER() OVER (ORDER BY A.mod_dt IS NULL ASC, A.mod_dt DESC, A.reg_dt DESC) AS row_num
			,A.cctv_no
			,A.cctv_nm
			,A.district_no
			,A.model_nm
			,A.cctv_maker
			,TO_CHAR(TO_DATE(A.inst_ymd, 'YYYYMMDD'), 'YYYY-MM-DD') AS inst_ymd
			,A.cctv_ip
			,A.web_port
			,A.rtsp_port
			,A.cctv_conn_id
			,A.cctv_conn_pwd
			,A.relay_nm
			,A.relay_ip
			,A.relay_port
			,A.maint_sts_cd
			,A.cctv_lon
			,A.cctv_lat
		    ,A.admin_center
		    ,A.partner_comp_id
		    ,A.partner_comp_user_nm
		    ,A.partner_comp_user_phone
			,TO_CHAR(A.reg_dt, 'YYYY-MM-DD HH24:MI:SS') AS reg_dt
			,TO_CHAR(A.mod_dt, 'YYYY-MM-DD HH24:MI:SS') AS mod_dt
		FROM tb_cctv_info A
		<include refid="getCctvList-where"/>
		AND A.del_yn = 'N'
		ORDER BY cctv_no
		<if test="limit != null and !limit.equals('') and offset != null and !offset.equals('')">
			LIMIT ${limit} OFFSET ${offset}
		</if>
	</select>

	<select id="getCctvRtspCheckList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		/* CctvMapper.getCctvRtspCheckList */
		SELECT
			A.cctv_no,
			A.cctv_ip,
			A.rtsp_port,
			A.cctv_conn_id,
			A.cctv_conn_pwd
		FROM tb_cctv_info A
		WHERE A.del_yn = 'N'
	</select>

	<sql id="getCctvList-where">
		/* getCctvList-where */
		WHERE 1=1
		<if test="cctv_no != null and !cctv_no.equals('')">
			AND A.cctv_no = #{cctv_no}
		</if>
		<if test="cctv_nm != null and !cctv_nm.equals('')">
			AND A.cctv_nm = #{cctv_nm}
		</if>
	</sql>

	<insert id="insCctv" parameterType="java.util.HashMap">
		/* CctvMapper.insCctv */
		INSERT INTO tb_cctv_info (
			cctv_no,
			cctv_nm,
			district_no,
			model_nm,
			cctv_maker,
			inst_ymd,
			cctv_ip,
			web_port,
			rtsp_port,
			cctv_conn_id,
			cctv_conn_pwd,
			relay_nm,
			relay_ip,
			relay_port,
			maint_sts_cd,
			cctv_lon,
			cctv_lat,
			admin_center,
			partner_comp_id,
			partner_comp_user_nm,
			partner_comp_user_phone,
		    etc1,
			etc3
		) VALUES (
			#{cctv_no},
			#{cctv_nm},
			#{district_no},
			#{model_nm},
			#{cctv_maker},
			#{inst_ymd},
			#{cctv_ip},
			#{web_port},
			#{rtsp_port},
			#{cctv_conn_id},
			#{cctv_conn_pwd},
			#{relay_nm},
			#{relay_ip},
			#{relay_port},
			#{maint_sts_cd},
			${cctv_lon},
			${cctv_lat},
			#{admin_center},
			#{partner_comp_id},
			#{partner_comp_user_nm},
			#{partner_comp_user_phone},
			#{etc1},
			#{etc3}
		)
	</insert>

	<update id="udtCctv" parameterType="java.util.HashMap">
		/* CctvMapper.udtCctv */
		UPDATE tb_cctv_info
		<trim prefix="SET" suffixOverrides=",">
			<if test='cctv_nm != null'>cctv_nm = #{cctv_nm},</if>
			<if test='district_no != null'>district_no = #{district_no},</if>
			<if test='del_yn != null'>del_yn = #{del_yn},</if>
			<if test='model_nm != null'>model_nm = #{model_nm},</if>
			<if test='cctv_maker != null'>cctv_maker = #{cctv_maker},</if>
			<if test='inst_ymd != null'>inst_ymd = #{inst_ymd},</if>
			<if test='cctv_ip != null'>cctv_ip = #{cctv_ip},</if>
			<if test='web_port != null'>web_port = #{web_port},</if>
			<if test='rtsp_port != null'>rtsp_port = #{rtsp_port},</if>
			<if test='cctv_conn_id != null'>cctv_conn_id = #{cctv_conn_id},</if>
			<if test='cctv_conn_pwd != null'>cctv_conn_pwd = #{cctv_conn_pwd},</if>
			<if test='relay_nm != null'>relay_nm = #{relay_nm},</if>
			<if test='relay_ip != null'>relay_ip = #{relay_ip},</if>
			<if test='relay_port != null'>relay_port = #{relay_port},</if>
			<if test='maint_sts_cd != null'>maint_sts_cd = #{maint_sts_cd},</if>
			<if test='cctv_lon != null'>cctv_lon = ${cctv_lon},</if>
			<if test='cctv_lat != null'>cctv_lat = ${cctv_lat},</if>
			<if test='admin_center != null'>admin_center = #{admin_center},</if>
			<if test='partner_comp_id != null'>partner_comp_id = #{partner_comp_id},</if>
			<if test='partner_comp_user_nm != null'>partner_comp_user_nm = #{partner_comp_user_nm},</if>
			<if test='partner_comp_user_phone != null'>partner_comp_user_phone = #{partner_comp_user_phone},</if>
			<if test='etc1 != null'>etc1 = #{etc1},</if>
			<if test='etc3 != null'>etc3 = #{etc3},</if>
			mod_dt = current_timestamp,
		</trim>
		WHERE 1 = 1
		AND cctv_no = #{cctv_no}
	</update>

	<update id="udtRtspConnStatus" parameterType="java.util.HashMap">
		/* CctvMapper.udtRtspConnStatus */
		UPDATE tb_cctv_info
		SET
			rtsp_conn_yn = #{rtsp_conn_yn},
			rtsp_last_check_dt = CURRENT_TIMESTAMP
		WHERE cctv_no = #{cctv_no}
	</update>

	<delete id="delCctv" parameterType="java.util.HashMap">
		/* CctvMapper.delCctv */
		DELETE FROM tb_cctv_info
		WHERE 1=1
		AND cctv_no = #{cctv_no}
	</delete>

	<select id="getDistrictListTotalCnt" parameterType="java.util.HashMap" resultType="java.lang.Integer">
		/* CctvMapper.getDistrictListTotalCnt */
		SELECT
			COUNT(1)
		FROM tb_district_info A
		<include refid="getDistrictList-where"/>
	</select>

	<select id="getDistrictList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		/* CctvMapper.getDistrictList */
		SELECT
			ROW_NUMBER() OVER (ORDER BY A.mod_dt IS NULL ASC, A.mod_dt DESC, A.reg_dt DESC) AS row_num
			,A.district_no
			,A.site_no
			,A.district_nm
			,A.dist_addr
			,A.dist_road_addr
			,A.dist_type_cd
			,A.dist_abbr
			,A.dist_pic
			,A.dist_view_pic
			,A.dist_lon
			,A.dist_lat
			,A.inst_comp_id1
			,A.meas_comp_id1
			,A.inst_comp_id2
			,A.meas_comp_id2
			,A.meas_str_ymd
			,A.meas_end_ymd
			,A.dist_offi_nm
			,TO_CHAR(A.reg_dt, 'YYYY-MM-DD HH24:MI:SS') AS reg_dt
			,TO_CHAR(A.mod_dt, 'YYYY-MM-DD HH24:MI:SS') AS mod_dt
			,A.dist_zip
		FROM tb_district_info A
		<include refid="getDistrictList-where"/>
		<if test="limit != null and !limit.equals('') and offset != null and !offset.equals('')">
			LIMIT ${limit} OFFSET ${offset}
		</if>
	</select>

	<sql id="getDistrictList-where">
		/* getDistrictList-where */
		WHERE 1=1
		<if test="site_no != null and !site_no.equals('')">
			AND A.site_no = #{site_no}
		</if>
	</sql>

	<select id="getMaintCompListTotalCnt" parameterType="java.util.HashMap" resultType="java.lang.Integer">
		/* CctvMapper.getMaintCompListTotalCnt */
		SELECT
			COUNT(1)
		FROM tb_maintcomp_info A
		<include refid="getMaintCompList-where"/>
	</select>

	<select id="getMaintCompList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		/* CctvMapper.getMaintCompList */
		SELECT
			ROW_NUMBER() OVER (ORDER BY A.mod_dt IS NULL ASC, A.mod_dt DESC, A.reg_dt DESC) AS row_num
			,A.partner_comp_id
			,A.partner_comp_nm
			,A.partner_type_flag
			,A.partner_comp_addr
			,A.comp_biz_no
			,A.maint_rep_nm
			,A.maint_rep_ph
			,TO_CHAR(A.reg_dt, 'YYYY-MM-DD HH24:MI:SS') AS reg_dt
			,TO_CHAR(A.mod_dt, 'YYYY-MM-DD HH24:MI:SS') AS mod_dt
		FROM tb_maintcomp_info A
		<include refid="getMaintCompList-where"/>
		<if test="limit != null and !limit.equals('') and offset != null and !offset.equals('')">
			LIMIT ${limit} OFFSET ${offset}
		</if>
	</select>

	<sql id="getMaintCompList-where">
		/* getMaintCompList-where */
		WHERE 1=1
		<if test="partner_type_flag != null and !partner_type_flag.equals('')">
			AND A.partner_type_flag = #{partner_type_flag}
		</if>
	</sql>

	<select id="getGenerationKey2" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		/* CctvMapper.getGenerationKey2 */
		SELECT
			A.table_nm
			 ,A.column_nm
			 ,A.pre_code
			 ,A.length
			 ,A.max
			 ,CONCAT(A.pre_code, RIGHT(CONCAT(REPEAT('0',LENGTH),A.max+1),LENGTH)) AS new_id
		FROM generation_key A
		WHERE 1=1
		AND table_nm = #{table_nm}
		AND column_nm = #{column_nm}
	</select>

	<update id="incMaxGenerationKey2" parameterType="java.util.HashMap">
		/* CctvMapper.incMaxGenerationKey2 */
		UPDATE generation_key
		SET max = max+1
		WHERE table_nm = #{table_nm}
		AND column_nm = #{column_nm}
	</update>

	<update id="nextPreCodeGenerationKey2" parameterType="java.util.HashMap">
		/* CctvMapper.nextPreCodeGenerationKey2 */
		UPDATE generation_key
		SET pre_code = CHAR(ASCII(pre_code)+1)
		WHERE table_nm = #{table_nm}
		AND column_nm = #{column_nm}
	</update>

	<select id="getCctvMaxNo" resultType="String">
		SELECT
			MAX(cctv_no) as cctv_no
		FROM tb_cctv_info
	</select>
</mapper>
