<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.safeone.dashboard.dao.CommonCodeMapper">
    
    <select id="selectAreaList" resultType="java.util.Map">
	    SELECT a.district_no as code
	    		, a.district_nm
	    FROM tb_district_info a
    </select>
    
    <select id="selectSensorList" resultType="java.util.Map">
	    SELECT ass.asset_id as code
	    		, ass.name 
	    FROM tb_asset ass
	    WHERE ass.asset_kind_id IN ('2','3','4','6','7') -- 센서
	    ORDER BY ass.name
    </select>

    <select id="selectSensorListByZone" parameterType="java.util.Map" resultType="java.util.Map">
	    SELECT ass.asset_id as code
	    		, ass.name
	    FROM tb_asset ass
	    WHERE ass.asset_kind_id IN ('2','3','4','6','7') -- 센서
	    AND ass.zone_id = #{zone_id}
		ORDER BY asset_id::integer
    </select>

	<select id="selectMappingList" resultType="java.util.Map">
		SELECT z.mapping_id as code
			 , z.device_id as name
		FROM tb_mapping z
		ORDER BY z.device_id
	</select>

</mapper>