<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.safeone.dashboard.dao.LoginLogMapper">
    <sql id="rowSearch">
        <if test="user_id != null and user_id != ''">
            and MG.user_id ilike '%' || #{user_id} || '%'
        </if>
        <if test="name != null and name != ''">
            and MG.name ilike '%' || #{name} || '%'
        </if>
        <if test="login_date_start != null and login_date_start != '' and login_date_end != null and login_date_end != ''">
            and to_date(MG.login_date, 'YYYY-MM-DD') between #{login_date_start}::date and #{login_date_end}::date
        </if>
        <if test="login_ip != null and login_ip != ''">
            and MG.login_ip ilike '%' || #{login_ip} || '%'
        </if>
        <if test="login_pc_name != null and login_pc_name != ''">
            and MG.login_pc_name ilike '%' || #{login_pc_name} || '%'
        </if>
        <if test="status != null and status != ''">
            and MG.status = #{status}
        </if>
    </sql>

    <sql id="rowOrder">
        <trim prefix="order by">
            <choose>
                <when test="'user_id' == sidx and sidx != ''">
                    MG.user_id ${sord}
                </when>
                <when test="'name' == sidx and sidx != ''">
                    MG.name ${sord}
                </when>
                <when test="'login_date' == sidx and sidx != ''">
                    MG.login_date ${sord}
                </when>
                <when test="'login_ip' == sidx and sidx != ''">
                    MG.login_ip ${sord}
                </when>
                <when test="'login_pc_name' == sidx and sidx != ''">
                    MG.login_pc_name ${sord}
                </when>
                <when test="'status' == sidx and sidx != ''">
                    MG.status ${sord}
                </when>
                <otherwise>
                    MG.login_date desc
                </otherwise>
            </choose>
        </trim>
    </sql>

    <insert id="insertLoginLog" parameterType="java.util.Map">
        INSERT INTO tb_login_log (
                                   login_log_id
                                 , user_id
                                 , login_date
                                 , login_ip
                                 , login_pc_name
                                 , status
        ) SELECT COALESCE(max(login_log_id::integer),0)+1 as login_log_id
                 , #{user_id}
                 , now()
                 , #{login_ip}
                 , #{login_pc_name}
                 , #{status}
          FROM tb_login_log
    </insert>

    <select id="selectLoginLogList" parameterType="java.util.Map" resultType="com.safeone.dashboard.dto.LoginLogDto">
        SELECT MG.*
        FROM (
	        SELECT login_log_id
	        	   , user_id
	        	   , ( select name from tb_user where user_id = a.user_id ) AS name
                   , to_char(a.login_date::timestamp , 'YYYY-MM-DD HH24:MI:SS') as login_date
	        	   , login_ip
	        	   , login_pc_name
	        	   , case when status = 'Y' then '성공' else '실패' end status
	        FROM tb_login_log a
        ) MG
        WHERE 1=1
        <include refid="rowSearch"/>
        <include refid="rowOrder"/>
        <if test="page != null and page > 0">
            limit #{rows}::int offset (#{page}::int - 1) * #{rows}::int
        </if>
    </select>

    <select id="selectLoginLogListTotal" parameterType="java.util.Map" resultType="int">
        SELECT count(*)
        FROM (
	        SELECT login_log_id
	        	   , user_id
	        	   , ( select name from tb_user where user_id = a.user_id ) AS name
                   , to_char(a.login_date::timestamp , 'YYYY-MM-DD HH24:MI:SS') as login_date
	        	   , login_ip
	        	   , login_pc_name
	        	   , case when status = 'Y' then '성공' else '실패' end status
	        FROM tb_login_log a
        ) MG
        WHERE 1=1
        <include refid="rowSearch"/>
    </select>

    <delete id="deleteLoginLog" parameterType="java.util.Map">
        DELETE FROM tb_login_log
         WHERE login_log_id = #{login_log_id}
    </delete>
</mapper>