<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.safeone.dashboard.dao.MeasureDetailsDataMapper">
    <sql id="rowSearch">
        <!--        <if test="sens_tp_nm != null and sens_tp_nm != ''">-->
        <!--            and tst.sens_tp_nm ilike '%' || #{sens_tp_nm} || '%'-->
        <!--        </if>-->
        <!--        <if test="sens_nm != null and sens_nm != ''">-->
        <!--            and tsinfo.sens_nm ilike '%' || #{sens_nm} || '%'-->
        <!--        </if>-->
        <!--        <if test="sens_chnl_nm != null and sens_chnl_nm != ''">-->
        <!--            and tai.sens_chnl_nm ilike '%' || #{sens_chnl_nm} || '%'-->
        <!--        </if>-->
        <!--        <if test="formul_data != null and formul_data != ''">-->
        <!--            and tsi.formul_data ilike '%' || #{formul_data} || '%'-->
        <!--        </if>-->
        <!--        <if test="init_apply_dt_start != null and init_apply_dt_start != '' and init_apply_dt_end != null and init_apply_dt_end != ''">-->
        <!--            and tsi.init_apply_dt::timestamp between concat(#{init_apply_dt_start},' 00:00:00')::timestamp and-->
        <!--            concat(#{init_apply_dt_end},' 23:59:59')::timestamp-->
        <!--        </if>-->
        <!--        <if test="last_apply_dt_start != null and last_apply_dt_start != '' and last_apply_dt_end != null and last_apply_dt_end != ''">-->
        <!--            and tsi.last_apply_dt::timestamp between concat(#{last_apply_dt_start},' 00:00:00')::timestamp and-->
        <!--            concat(#{last_apply_dt_end},' 23:59:59')::timestamp-->
        <!--        </if>-->
        <!--        <if test="emer_status != null and emer_status != ''">-->
        <!--            and tsi.emer_status ilike '%' || #{emer_status} || '%'-->
        <!--        </if>-->
    </sql>

    <sql id="rowOrder">
        <!--        <trim prefix="order by">-->
        <!--            <choose>-->
        <!--                <when test="'sens_tp_nm' == sidx and sidx != ''">-->
        <!--                    tst.sens_tp_nm ${sord}-->
        <!--                </when>-->
        <!--                <when test="'sens_nm' == sidx and sidx != ''">-->
        <!--                    tsinfo.sens_nm ${sord}-->
        <!--                </when>-->
        <!--                <when test="'sens_chnl_nm' == sidx and sidx != ''">-->
        <!--                    tai.sens_chnl_nm ${sord}-->
        <!--                </when>-->
        <!--                <when test="'formul_data' == sidx and sidx != ''">-->
        <!--                    tsi.formul_data ${sord}-->
        <!--                </when>-->
        <!--                <when test="'init_apply_dt' == sidx and sidx != ''">-->
        <!--                    tsi.init_apply_dt ${sord}-->
        <!--                </when>-->
        <!--                <when test="'last_apply_dt' == sidx and sidx != ''">-->
        <!--                    tsi.last_apply_dt ${sord}-->
        <!--                </when>-->
        <!--                <when test="'emer_status' == sidx and sidx != ''">-->
        <!--                    tsi.emer_status ${sord}-->
        <!--                </when>-->
        <!--                <otherwise>-->
        <!--                    tsi.reg_dt desc-->
        <!--                </otherwise>-->
        <!--            </choose>-->
        <!--        </trim>-->
    </sql>

    <select id="selectList" parameterType="java.util.Map"
            resultType="com.safeone.dashboard.dto.MeasureDetailsDataDto">
        SELECT mgnt_no, sens_no, sens_chnl_id, meas_dt, raw_data, formul_data, net_err_yn, net_err_cnt, alarm_lvl_cd,
        reg_dt
        FROM tb_measure_details
        WHERE 1=1
        and sens_no = #{sens_no}
        <include refid="rowSearch"/>
        <include refid="rowOrder"/>
        <if test="page != null and page > 0">
            limit #{rows}::int offset (#{page}::int - 1) * #{rows}::int
        </if>
    </select>

    <select id="selectListTotal" parameterType="java.util.Map" resultType="int">
        SELECT count(mgnt_no)
        FROM tb_measure_details
        WHERE 1=1
        and sens_no = #{sens_no}
        <include refid="rowSearch"/>
    </select>
</mapper>