<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.safeone.dashboard.dao.MeasureDetailsMapper">
    <sql id="rowSearch">
        <!--        <if test="sens_tp_nm != null and sens_tp_nm != ''">-->
        <!--            and tst.sens_tp_nm ilike '%' || #{sens_tp_nm} || '%'-->
        <!--        </if>-->
        <!--        <if test="sens_nm != null and sens_nm != ''">-->
        <!--            and tsinfo.sens_nm ilike '%' || #{sens_nm} || '%'-->
        <!--        </if>-->
        <!--        <if test="sens_chnl_nm != null and sens_chnl_nm != ''">-->
        <!--            and tai.sens_chnl_nm ilike '%' || #{sens_chnl_nm} || '%'-->
        <!--        </if>-->
        <!--        <if test="formul_data != null and formul_data != ''">-->
        <!--            and tsi.formul_data ilike '%' || #{formul_data} || '%'-->
        <!--        </if>-->
        <!--        <if test="init_apply_dt_start != null and init_apply_dt_start != '' and init_apply_dt_end != null and init_apply_dt_end != ''">-->
        <!--            and tsi.init_apply_dt::timestamp between concat(#{init_apply_dt_start},' 00:00:00')::timestamp and-->
        <!--            concat(#{init_apply_dt_end},' 23:59:59')::timestamp-->
        <!--        </if>-->
        <!--        <if test="last_apply_dt_start != null and last_apply_dt_start != '' and last_apply_dt_end != null and last_apply_dt_end != ''">-->
        <!--            and tsi.last_apply_dt::timestamp between concat(#{last_apply_dt_start},' 00:00:00')::timestamp and-->
        <!--            concat(#{last_apply_dt_end},' 23:59:59')::timestamp-->
        <!--        </if>-->
        <!--        <if test="emer_status != null and emer_status != ''">-->
        <!--            and tsi.emer_status ilike '%' || #{emer_status} || '%'-->
        <!--        </if>-->
    </sql>

    <sql id="rowOrder">
        <!--        <trim prefix="order by">-->
        <!--            <choose>-->
        <!--                <when test="'sens_tp_nm' == sidx and sidx != ''">-->
        <!--                    tst.sens_tp_nm ${sord}-->
        <!--                </when>-->
        <!--                <when test="'sens_nm' == sidx and sidx != ''">-->
        <!--                    tsinfo.sens_nm ${sord}-->
        <!--                </when>-->
        <!--                <when test="'sens_chnl_nm' == sidx and sidx != ''">-->
        <!--                    tai.sens_chnl_nm ${sord}-->
        <!--                </when>-->
        <!--                <when test="'formul_data' == sidx and sidx != ''">-->
        <!--                    tsi.formul_data ${sord}-->
        <!--                </when>-->
        <!--                <when test="'init_apply_dt' == sidx and sidx != ''">-->
        <!--                    tsi.init_apply_dt ${sord}-->
        <!--                </when>-->
        <!--                <when test="'last_apply_dt' == sidx and sidx != ''">-->
        <!--                    tsi.last_apply_dt ${sord}-->
        <!--                </when>-->
        <!--                <when test="'emer_status' == sidx and sidx != ''">-->
        <!--                    tsi.emer_status ${sord}-->
        <!--                </when>-->
        <!--                <otherwise>-->
        <!--                    tsi.reg_dt desc-->
        <!--                </otherwise>-->
        <!--            </choose>-->
        <!--        </trim>-->
    </sql>

    <select id="selectList" parameterType="java.util.Map"
            resultType="com.safeone.dashboard.dto.MeasureDetailsDto">
        select tst.sens_tp_nm
        , tsinfo.sens_nm
        -- , tai.sens_chnl_nm
        , tsi.formul_data
        , tsi.init_apply_dt
        , tsi.last_apply_dt
        , tsi.emer_status
        , tsi.sens_no
        , tsi.sens_chnl_id
        , tsinfo.sect_no
        , tsinfo.maint_sts_cd
        from tb_sensor_info tsinfo
        left join tb_sensor_init tsi on tsinfo.sens_no = tsi.sens_no
        left join tb_sensor_type tst on tsinfo.senstype_no = tst.senstype_no
        -- left join tb_alarm_info tai on tsi.sens_chnl_id = tai.sens_chnl_id
        WHERE 1=1
        and
        tsinfo.sens_no in
        (select tlim.sens_no
        from tb_logr_idx_map tlim
        where logr_no in (select tli.logr_no
        from tb_district_info tdi
        left outer join tb_logger_info tli on tli.district_no = tdi.district_no
        where tdi.district_no = #{district_no}))
        <include refid="rowSearch"/>
        <include refid="rowOrder"/>
        <if test="page != null and page > 0">
            limit #{rows}::int offset (#{page}::int - 1) * #{rows}::int
        </if>
    </select>

    <select id="selectSensorChartData" parameterType="java.util.Map"
            resultType="com.safeone.dashboard.dto.MeasureDetailsDto">
        select tmd.sens_no,
               tsi.sens_nm,
               tmd.formul_data,
               tmd.meas_dt,
               tai."1st_lvl_max" as lvl_max1,
               tai."2nd_lvl_max" as lvl_max2,
               tai."3rd_lvl_max" as lvl_max3,
               tai."4th_lvl_max" as lvl_max4
        from tb_measure_details tmd
                 left join tb_alarm_info tai on tai.sens_no = tmd.sens_no
                 left join tb_sensor_info tsi on tmd.sens_no = tsi.sens_no
        where tmd.meas_dt::timestamp between (#{start_date_time}:: timestamp)
          and (#{end_date_time}:: timestamp)
          and tmd.sens_no = #{sens_no}
        order by meas_dt
    </select>

    <select id="selectListTotal" parameterType="java.util.Map" resultType="int">
        select count(tsinfo.sens_no)
        from tb_sensor_info tsinfo
        left join tb_sensor_init tsi on tsinfo.sens_no = tsi.sens_no
        left join tb_sensor_type tst on tsinfo.senstype_no = tst.senstype_no
        left join tb_alarm_info tai on tsi.sens_chnl_id = tai.sens_chnl_id
        WHERE 1=1
        and
        tsinfo.sens_no in
        (select tlim.sens_no
        from tb_logr_idx_map tlim
        where logr_no in (select tli.logr_no
        from tb_district_info tdi
        left outer join tb_logger_info tli on tli.district_no = tdi.district_no
        where tdi.district_no = #{district_no}))
        <include refid="rowSearch"/>
    </select>
</mapper>