<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.safeone.dashboard.dao.SensorInfoMapper">
    <sql id="rowSearch">
        <if test="sens_no != null and sens_no != ''">
            and MG.sens_no = #{sens_no}
        </if>
        <if test="logr_no != null and logr_no != ''">
            and MG.logr_no = #{logr_no}
        </if>
        <if test="senstype_no != null and senstype_no != ''">
            and MG.senstype_no ilike '%' || #{senstype_no} || '%'
        </if>
        <if test="senstype_nm != null and senstype_nm != ''">
            and MG.senstype_nm ilike '%' || #{senstype_nm} || '%'
        </if>
        <if test="sens_nm != null and sens_nm != ''">
            and MG.sens_nm ilike '%' || #{sens_nm} || '%'
        </if>
        <if test="logr_nm != null and logr_nm != ''">
            and MG.logr_nm ilike '%' || #{logr_nm} || '%'
        </if>
        <if test="sens_no != null and sens_no != ''">
            and MG.sens_no ilike '%' || #{sens_no} || '%'
        </if>
        <if test="sect_no != null">
            and MG.sect_no = #{sect_no}::integer
        </if>
        <if test="maint_sts_nm != null and maint_sts_nm != ''">
            and MG.maint_sts_nm ilike '%' || #{maint_sts_nm} || '%'
        </if>
        <if test="nonrecv_limit_min != null">
            and MG.nonrecv_limit_min = #{nonrecv_limit_min}::integer
        </if>
        <if test="alarm_use_yn != null and alarm_use_yn != ''">
            and MG.alarm_use_yn ilike '%' || #{alarm_use_yn} || '%'
        </if>
        <if test="sms_snd_yn != null and sms_snd_yn != ''">
            and MG.sms_snd_yn ilike '%' || #{sms_snd_yn} || '%'
        </if>
        <if test="sens_disp_yn != null and sens_disp_yn != ''">
            and MG.sens_disp_yn ilike '%' || #{sens_disp_yn} || '%'
        </if>
        <if test="mod_dt_start != null and mod_dt_start != '' and mod_dt_end != null and mod_dt_end != ''">
            and MG.mod_dt::timestamp between (#{mod_dt_start}::timestamp) and (#{mod_dt_end}::timestamp)
        </if>
        <if test="inst_ymd_start != null and inst_ymd_start != '' and inst_ymd_end != null and inst_ymd_end != ''">
            and MG.inst_ymd::timestamp between (#{inst_ymd_start}::timestamp) and (#{inst_ymd_end}::timestamp)
        </if>
        <if test="searchKeyword  != null and searchKeyword  != ''">
            and (select B.sens_tp_nm from tb_sensor_type B where B.senstype_no = MG.senstype_no) LIKE '%' ||
            #{searchKeyword} || '%' OR
            MG.sens_no LIKE '%' || #{searchKeyword} || '%' OR
            (select B.logr_nm from tb_logger_info B where B.logr_no = MG.logr_no) LIKE '%' || #{searchKeyword} || '%' OR
            (select B.code_nm from tb_common_code B where B.code_id = MG.maint_sts_cd) LIKE '%' || #{searchKeyword} ||
            '%'
        </if>

    </sql>

    <sql id="rowOrder">
        <trim prefix="order by">
            <choose>
                <when test="'senstype_nm' == sidx and sidx != ''">
                    MG.senstype_nm ${sord}
                </when>
                <when test="'logr_nm' == sidx and sidx != ''">
                    MG.logr_nm ${sord}
                </when>
                <when test="'sens_nm' == sidx and sidx != ''">
                    MG.sens_nm ${sord}
                </when>

                <when test="'sect_no' == sidx and sidx != ''">
                    MG.sect_no ${sord}
                </when>
                <when test="'maint_sts_nm' == sidx and sidx != ''">
                    MG.maint_sts_nm ${sord}
                </when>
                <when test="'nonrecv_limit_min' == sidx and sidx != ''">
                    MG.nonrecv_limit_min ${sord}
                </when>
                <when test="'alarm_use_yn' == sidx and sidx != ''">
                    MG.alarm_use_yn ${sord}
                </when>
                <when test="'sms_snd_yn' == sidx and sidx != ''">
                    MG.sms_snd_yn ${sord}
                </when>
                <when test="'sens_disp_yn' == sidx and sidx != ''">
                    MG.sens_disp_yn ${sord}
                </when>
                <when test="'inst_ymd' == sidx and sidx != ''">
                    MG.inst_ymd ${sord}
                </when>

                <when test="'mod_dt' == sidx and sidx != ''">
                    MG.mod_dt ${sord}
                </when>
                <otherwise>
                    MG.logr_no, MG.sens_no, MG.sens_nm
                </otherwise>
            </choose>
        </trim>
    </sql>

    <select id="selectSensorInfoList" parameterType="java.util.Map"
            resultType="com.safeone.dashboard.dto.SensorInfoDto">
        SELECT MG.*
        FROM (
        SELECT
        A.sens_no
        , A.logr_no
        , (SELECT B.sens_tp_nm FROM tb_sensor_type B WHERE B.senstype_no = A.senstype_no) AS senstype_nm
        , (SELECT B.logr_nm FROM tb_logger_info B WHERE B.logr_no = A.logr_no) AS logr_nm
        , (SELECT B.code_nm FROM tb_common_code B WHERE B.code_id = A.maint_sts_cd) AS maint_sts_nm
        , A.senstype_no
        , A.sens_nm
        , COALESCE(to_char(to_date(NULLIF(A.inst_ymd, ''), 'YYYYMMDD'), 'YYYY-MM-DD'), '') AS inst_ymd
        , A.sect_no
        , A.multi_sens_yn
        , A.disp_prior_yn
        , A.multi_senstype_no
        , A.multi_sens_no
        , A.nonrecv_limit_min
        , A.alarm_use_yn
        , A.sms_snd_yn
        , A.sens_disp_yn
        , A.maint_sts_cd
        , A.sens_lon
        , A.sens_lat
        , A.sens_maker
        , A.model_nm
        FROM tb_sensor_info A
        ) MG
        WHERE 1=1
        <include refid="rowSearch"/>
        <include refid="rowOrder"/>
        <!--        <if test="page != null and page > 0">-->
        <!--            limit #{rows}::int offset (#{page}::int - 1) * #{rows}::int-->
        <!--        </if>-->
    </select>

    <select id="getAllSensorInfo" parameterType="java.util.Map"
            resultType="com.safeone.dashboard.dto.SensorInfoDto">
        select sens_no, senstype_no, sens_nm
        from tb_sensor_info
        where tb_sensor_info.sens_no in (select tlim.sens_no
                                         from tb_logr_idx_map tlim
                                         where logr_no in (select tli.logr_no
                                                           from tb_district_info tdi
                                                                    left outer join tb_logger_info tli on tli.district_no = tdi.district_no
                                                           where tdi.district_no = #{district_no}))
          and tb_sensor_info.senstype_no = #{senstype_no}
    </select>

    <select id="selectSensorInfoListTotal" parameterType="java.util.Map" resultType="int">
        SELECT count(*)
        FROM (
        SELECT
        A.sens_no
        , A.logr_no
        , (SELECT B.sens_tp_nm FROM tb_sensor_type B WHERE B.senstype_no = A.senstype_no) AS senstype_nm
        , (SELECT B.logr_nm FROM tb_logger_info B WHERE B.logr_no = A.logr_no) AS logr_nm
        , (SELECT B.code_nm FROM tb_common_code B WHERE B.code_id = A.maint_sts_cd) AS maint_sts_nm
        , A.senstype_no
        , A.sens_nm
        , COALESCE(to_char(to_date(NULLIF(A.inst_ymd, ''), 'YYYYMMDD'), 'YYYY-MM-DD'), '') AS inst_ymd
        , A.sect_no
        , A.multi_sens_yn
        , A.disp_prior_yn
        , A.multi_senstype_no
        , A.multi_sens_no
        , A.nonrecv_limit_min
        , A.alarm_use_yn
        , A.sms_snd_yn
        , A.sens_disp_yn
        , A.maint_sts_cd
        , A.sens_lon
        , A.sens_lat
        , A.sens_maker
        , A.model_nm
        FROM tb_sensor_info A
        ) MG
        WHERE 1=1
        <include refid="rowSearch"/>
    </select>

    <insert id="insertSensorInfo" parameterType="java.util.Map">
        INSERT INTO tb_sensor_info (
        <trim suffixOverrides=",">
            <if test="sens_no != null">sens_no,</if>
            <if test="logr_no != null">logr_no,</if>
            <if test="senstype_no != null">senstype_no,</if>
            <if test="sens_nm != null">sens_nm,</if>
            <if test="inst_ymd != null">inst_ymd,</if>
            <if test="sect_no != null">sect_no,</if>
            <if test="nonrecv_limit_min != null">nonrecv_limit_min,</if>
            <if test="alarm_use_yn != null">alarm_use_yn,</if>
            <if test="sms_snd_yn != null">sms_snd_yn,</if>
            <if test="sens_disp_yn != null">sens_disp_yn,</if>
            <if test="maint_sts_cd != null">maint_sts_cd,</if>
            <if test="sens_lon != null">sens_lon,</if>
            <if test="sens_lat != null">sens_lat,</if>
            <if test="sens_maker != null">sens_maker,</if>
            <if test="model_nm != null">model_nm,</if>
            <if test="multi_senstype_no != null">multi_senstype_no,</if>
            <if test="multi_sens_no != null">multi_sens_no,</if>
            reg_dt
        </trim>
        )
        VALUES (
        <trim suffixOverrides=",">
            <if test="sens_no != null">#{sens_no},</if>
            <if test="logr_no != null">#{logr_no},</if>
            <if test="senstype_no != null">#{senstype_no},</if>
            <if test="sens_nm != null">#{sens_nm},</if>
            <if test="inst_ymd != null">COALESCE(TO_CHAR(TO_DATE(NULLIF(#{inst_ymd}, ''), 'YYYY-MM-DD'), 'YYYYMMDD'),''),</if>
            <if test="sect_no != null">#{sect_no}::int,</if>
            <if test="nonrecv_limit_min != null">#{nonrecv_limit_min}::int,</if>
            <if test="alarm_use_yn != null">#{alarm_use_yn},</if>
            <if test="sms_snd_yn != null">#{sms_snd_yn},</if>
            <if test="sens_disp_yn != null">#{sens_disp_yn},</if>
            <if test="maint_sts_cd != null">#{maint_sts_cd},</if>
            <if test="sens_lon != null">#{sens_lon}::double precision,</if>
            <if test="sens_lat != null">#{sens_lat}::double precision,</if>
            <if test="sens_maker != null">#{sens_maker},</if>
            <if test="model_nm != null">#{model_nm},</if>
            <if test="multi_senstype_no != null">#{multi_senstype_no},</if>
            <if test="multi_sens_no != null">#{sens_nm},</if>
            now()
        </trim>
        )
    </insert>


    <update id="updateSensorInfo" parameterType="java.util.Map">
        update tb_sensor_info set
        mod_dt = now()
        <if test="logr_no != null">
            , logr_no = #{logr_no}
        </if>
        <if test="senstype_no != null">
            , senstype_no = #{senstype_no}
        </if>
        <if test="sens_nm != null">
            , sens_nm = #{sens_nm}
        </if>
        <if test="inst_ymd != null">
            , inst_ymd = COALESCE(TO_CHAR(TO_DATE(NULLIF(#{inst_ymd}, ''), 'YYYY-MM-DD'), 'YYYYMMDD'), '')
        </if>
        <if test="sect_no != null">
            , sect_no = #{sect_no}::int
        </if>
        <if test="multi_sens_yn != null">
            , multi_sens_yn = #{multi_sens_yn}
        </if>
        <if test="disp_prior_yn != null">
            , disp_prior_yn = #{disp_prior_yn}
        </if>
        <if test="multi_senstype_no != null">
            , multi_senstype_no = #{multi_senstype_no}
        </if>
        <if test="multi_sens_no != null">
            , multi_sens_no = #{multi_sens_no}
        </if>
        <if test="nonrecv_limit_min != null">
            , nonrecv_limit_min = #{nonrecv_limit_min}::int
        </if>
        <if test="alarm_use_yn != null">
            , alarm_use_yn = #{alarm_use_yn}
        </if>
        <if test="sms_snd_yn != null">
            , sms_snd_yn = #{sms_snd_yn}
        </if>
        <if test="sens_disp_yn != null">
            , sens_disp_yn = #{sens_disp_yn}
        </if>
        <if test="maint_sts_cd != null">
            , maint_sts_cd = #{maint_sts_cd}
        </if>
        <if test="sens_lon != null">
            , sens_lon = #{sens_lon}::double precision
        </if>
        <if test="sens_lat != null">
            , sens_lat = #{sens_lat}::double precision
        </if>
        <if test="sens_maker != null">
            , sens_maker = #{sens_maker}
        </if>
        <if test="model_nm != null">
            , model_nm = #{model_nm}
        </if>
        where sens_no = #{sens_no}
    </update>

    <delete id="deleteSensorInfo" parameterType="java.util.Map">
        DELETE
        FROM tb_sensor_info
        WHERE sens_no = #{sens_no}
    </delete>

    <select id="getMaxLogrIdxNo" parameterType="string" resultType="Integer">
        SELECT
            MAX(logr_idx_no)
        FROM
            tb_logr_idx_map
        WHERE
            senstype_no = #{senstypeNo}
    </select>

    <select id="insertSensorChnl" parameterType="java.util.Map">
        INSERT INTO tb_sensor_chnl (
            sens_no,
            sens_chnl_id,
            senstype_no,
            sens_chnl_nm,
            logr_no,
            reg_dt
        )
        VALUES (
            #{sens_no},
            #{sens_chnl_id},
            #{senstype_no},
            #{sens_chnl_nm},
            #{logr_no},
            now()
        )
    </select>

    <select id="countBySensNm" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM tb_sensor_info
        WHERE sens_nm = #{sensNm}
    </select>
</mapper>