<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.safeone.dashboard.dao.UserMapper">
    <sql id="rowSearch">
        <if test="user_id != null and user_id != ''">
            and MG.user_id  ilike '%' || #{user_id} || '%'
        </if>
        <if test="name != null and name != ''">
            and MG.name ilike '%' || #{name} || '%'
        </if>
        <if test="grade != null and grade != ''">
            and MG.grade = #{grade}
        </if>        
        <if test="company_name != null and company_name != ''">
            and MG.company_name ilike '%' || #{company_name} || '%'
        </if>
        <if test="email != null and email != ''">
            and MG.email ilike '%' || #{email} || '%'
        </if>
        <if test="phone != null and phone != ''">
            and MG.phone ilike '%' || #{phone} || '%'
        </if>
        <if test="part != null and part != ''">
            and MG.part ilike '%' || #{part} || '%'
        </if>
        <if test="reg_date_start != null and reg_date_start != '' and reg_date_end != null and reg_date_end != ''">
            and MG.reg_date::timestamp between (#{reg_date_start}::timestamp) and (#{reg_date_end}::timestamp)
        </if>      
        <if test="mod_date_start != null and mod_date_start != '' and mod_date_end != null and mod_date_end != ''">
            and MG.mod_date::timestamp between (#{mod_date_start}::timestamp) and (#{mod_date_end}::timestamp)
        </if>
        <if test="mod_user != null and mod_user != ''">
            and MG.mod_user ilike '%' || #{mod_user} || '%'
        </if>        
        <if test="etc1 != null and etc1 != ''">
            and MG.etc1 ilike '%' || #{etc1} || '%'
        </if>
    </sql>

    <sql id="rowOrder">
        <trim prefix="order by">
            <choose>
                <when test="'user_id' == sidx and sidx != ''">
                    MG.user_id ${sord}
                </when>
                <when test="'name' == sidx and sidx != ''">
                    MG.name ${sord}
                </when>
                <when test="'part' == sidx and sidx != ''">
                    MG.part ${sord}
                </when>
                <when test="'company_name' == sidx and sidx != ''">
                    MG.company_name ${sord}
                </when>
                <when test="'email' == sidx and sidx != ''">
                    MG.email ${sord}
                </when>
                <when test="'phone' == sidx and sidx != ''">
                    MG.phone ${sord}
                </when>
                <when test="'grade' == sidx and sidx != ''">
                    MG.grade ${sord}
                </when>                
                <when test="'reg_date' == sidx and sidx != ''">
                    MG.reg_date ${sord}
                </when>
                <when test="'mod_date' == sidx and sidx != ''">
                    MG.mod_date ${sord}
                </when>
                <when test="'mod_user' == sidx and sidx != ''">
                    MG.mod_user ${sord}
                </when>
                <when test="'etc1' == sidx and sidx != ''">
                    MG.etc1 ${sord}
                </when>
                <otherwise>
                    MG.user_id
                </otherwise>
            </choose>
        </trim>
    </sql>

    <select id="selectUserList" parameterType="java.util.Map" resultType="com.safeone.dashboard.dto.UserDto">
        SELECT MG.*
        FROM (
            SELECT
	            A.user_id
	            , A.name
	            , A.phone
	            , A.company_name
	            , A.etc1
	            , A.etc2
	            , A.etc3
	            , TO_CHAR(A.mod_date::timestamp, 'YYYY-MM-DD') AS mod_date
	            , A.mod_user
	            , A.grade
	            , A.grade grade_hid
	            , TO_CHAR(A.reg_date::timestamp, 'YYYY-MM-DD') AS reg_date
	            , A.email
	            , A.part
	            , use_flag
            FROM tb_user A
        ) MG
        WHERE 1=1
        <include refid="rowSearch"/>
        <include refid="rowOrder"/>
        <if test="page != null and page > 0">
            limit #{rows}::int offset (#{page}::int - 1) * #{rows}::int
        </if>
    </select>

    <select id="selectUserListTotal" parameterType="java.util.Map" resultType="int">
        SELECT count(*)
        FROM (
	        SELECT
	            A.user_id
	            , A.name
	            , A.phone
	            , A.company_name
	            , A.etc1
	            , A.etc2
	            , A.etc3
	            , TO_CHAR(A.mod_date::timestamp, 'YYYY-MM-DD') AS mod_date
	            , A.mod_user
	            , A.grade
	            , A.grade grade_hid
	            , TO_CHAR(A.reg_date::timestamp, 'YYYY-MM-DD') AS reg_date
	            , A.email
	            , part
	            , use_flag
	        FROM tb_user A
        ) MG
        WHERE 1=1
        <include refid="rowSearch"/>
    </select>

    <insert id="insertUser" parameterType="java.util.Map">
        INSERT INTO tb_user ( user_id
        					 , password
					         , name
					         , phone
					         , company_name
					         , etc1
					         , etc2
					         , etc3
							 , mod_date
							 , mod_user
							 , grade
							 , reg_date
							 , email
							 , part
							 , use_flag
		)VALUES( #{user_id}
				 , #{password}
		         , #{name}
		         , #{phone}
		         , #{company_name}
		         , #{etc1}
		         , #{etc2}
		         , #{etc3}
				 , now()
				 , #{mod_user}
				 , #{grade_hid}
				 , now()				 
				 , #{email}
				 , #{part}
				 , 'Y'
		)
    </insert>

    <update id="updateUser" parameterType="java.util.Map">
        update tb_user set
            mod_date = now()
        <if test="password != null and password != ''">
            , password = #{password}
        </if>
        <if test="name != null">
            , name = #{name}
        </if>
        <if test="phone != null">
            , phone = #{phone}
        </if>
        <if test="company_name != null">
            , company_name = #{company_name}
        </if>
        <if test="etc1 != null">
            , etc1 = #{etc1}
        </if>
        <if test="etc2 != null">
            , etc2 = #{etc2}
        </if>
        <if test="etc3 != null">
            , etc3 = #{etc3}
        </if>
        <if test="mod_user != null">
            , mod_user = #{mod_user}
        </if>
        <if test="grade_hid != null">
            , grade = #{grade_hid}
        </if>
        <if test="email != null">
            , email = #{email}
        </if>
        <if test="part != null">
            , part = #{part}
        </if>
        <if test="use_flag != null">
            , use_flag = #{use_flag}
        </if>
        where user_id = #{user_id}
    </update>

    <delete id="deleteUser" parameterType="java.util.Map">
        DELETE FROM tb_user
         WHERE user_id = #{user_id}
    </delete>

    <select id="isUserIdExists" parameterType="java.util.Map" resultType="int">
        select count(*) from tb_user
        where user_id = #{user_id}
    </select>

    <select id="selectUserLogin" parameterType="java.util.Map" resultType="com.safeone.dashboard.dto.UserDto">
        select * from tb_user
        where 1=1
          and user_id = #{userId}
    </select>

    <update id="updatePassword" parameterType="java.util.Map">
        update tb_user
        set password = #{password}
          , mod_date = now()
        where user_id = #{user_id}
    </update>

</mapper>